/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/rubik/rubik-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('@/assets/fonts/rubik/rubik-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/assets/fonts/rubik/rubik-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/assets/fonts/rubik/rubik-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('@/assets/fonts/rubik/rubik-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/assets/fonts/rubik/rubik-v19-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/rubik/rubik-v19-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('@/assets/fonts/rubik/rubik-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/assets/fonts/rubik/rubik-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/assets/fonts/rubik/rubik-v19-latin-500.woff') format('woff'), /* Modern Browsers */
       url('@/assets/fonts/rubik/rubik-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/assets/fonts/rubik/rubik-v19-latin-500.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-600 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: url('@/assets/fonts/rubik/rubik-v19-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('@/assets/fonts/rubik/rubik-v19-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/assets/fonts/rubik/rubik-v19-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/assets/fonts/rubik/rubik-v19-latin-600.woff') format('woff'), /* Modern Browsers */
       url('@/assets/fonts/rubik/rubik-v19-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/assets/fonts/rubik/rubik-v19-latin-600.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/rubik/rubik-v19-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('@/assets/fonts/rubik/rubik-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/assets/fonts/rubik/rubik-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/assets/fonts/rubik/rubik-v19-latin-700.woff') format('woff'), /* Modern Browsers */
       url('@/assets/fonts/rubik/rubik-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/assets/fonts/rubik/rubik-v19-latin-700.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-regular - latin */
@font-face {
  font-family: 'TrimWeb';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/trimweb/Trim_Web_Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('@/assets/fonts/trimweb/Trim_Web_Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/assets/fonts/trimweb/Trim_Web_Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/assets/fonts/trimweb/Trim_Web_Regular.woff') format('woff'), /* Modern Browsers */
       url('@/assets/fonts/trimweb/Trim_Web_Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/assets/fonts/trimweb/Trim_Web_Regular.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-500 - latin */
@font-face {
  font-family: 'TrimWeb';
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/trimweb/Trim_Web_Medium.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('@/assets/fonts/trimweb/Trim_Web_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/assets/fonts/trimweb/Trim_Web_Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/assets/fonts/trimweb/Trim_Web_Medium.woff') format('woff'), /* Modern Browsers */
       url('@/assets/fonts/trimweb/Trim_Web_Medium.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/assets/fonts/trimweb/Trim_Web_Medium.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-600 - latin */
@font-face {
  font-family: 'TrimWeb';
  font-style: normal;
  font-weight: 600;
  src: url('@/assets/fonts/trimweb/Trim_Web_SemiBold.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('@/assets/fonts/trimweb/Trim_Web_SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/assets/fonts/trimweb/Trim_Web_SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/assets/fonts/trimweb/Trim_Web_SemiBold.woff') format('woff'), /* Modern Browsers */
       url('@/assets/fonts/trimweb/Trim_Web_SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/assets/fonts/trimweb/Trim_Web_SemiBold.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-700 - latin */
@font-face {
  font-family: 'TrimWeb';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/trimweb/Trim_Web_Bold.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('@/assets/fonts/trimweb/Trim_Web_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/assets/fonts/trimweb/Trim_Web_Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/assets/fonts/trimweb/Trim_Web_Bold.woff') format('woff'), /* Modern Browsers */
       url('@/assets/fonts/trimweb/Trim_Web_Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/assets/fonts/trimweb/Trim_Web_Bold.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/montserrat/montserrat-v24-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('@/assets/fonts/montserrat/montserrat-v24-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/montserrat/montserrat-v24-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('@/assets/fonts/montserrat/montserrat-v24-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-500.woff') format('woff'), /* Modern Browsers */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('@/assets/fonts/montserrat/montserrat-v24-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('@/assets/fonts/montserrat/montserrat-v24-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-600.woff') format('woff'), /* Modern Browsers */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/montserrat/montserrat-v24-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('@/assets/fonts/montserrat/montserrat-v24-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-700.woff') format('woff'), /* Modern Browsers */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('@/assets/fonts/montserrat/montserrat-v24-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('@/assets/fonts/montserrat/montserrat-v24-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-800.woff') format('woff'), /* Modern Browsers */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@/assets/fonts/montserrat/montserrat-v24-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}