@import "@/assets/scss/_fonts.scss";

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    
    &.nav-open {
        overflow: hidden;
    }
}

#app {
    display: flex;
    flex-direction: column;
    flex: 1;
}

body {
    margin: 0;
    padding: 0;
    font-family: $fontPrimary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &.nav-open {
        overflow: hidden;
    }
}

h1 {
    font-size: 32px;
    line-height: 40px;
    color: $colorWhite;

    @media (min-width: $breakpoint-sm) {
        font-size: 72px;
        line-height: 80px;
    }
}

h2 {
    font-size: 32px;
    line-height: 36px;
    color: $colorBlack;

    @media (min-width: $breakpoint-sm) {
        font-size: 44px;
        line-height: 56px;
    }
}

h3 {
    font-size: 32px;
    line-height: 36px;
    color: $colorBlack;

    @media (min-width: $breakpoint-sm) {
        font-size: 32px;
        line-height: 42px;
    }
}

h4 {
    font-size: 32px;
    line-height: 36px;
    color: $colorBlack;

    @media (min-width: $breakpoint-sm) {
        font-size: 32px;
        line-height: 36px;
    }
}

p {
    font-size: 17px;
    line-height: 32px;
    font-family: $fontSecondary;
    color: rgba($colorBlack, .48);
}

.header_cta_pt {
    padding-top: 32px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    font-size: 17px;
    line-height: 24px;
    font-family: $fontSecondary;
    color: $colorWhite;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 0 0 2px $colorWhite;
    background: $colorPrimary;
    border: 0;
    cursor: pointer;

    @media (min-width: $breakpoint-sm) {
        padding: 14px 24px;
    }

    &--small {
        font-size: 14px;
        line-height: 20px;
        padding: 10px 16px;
    }

    &--fullwidth {
        width: 100%;
    }

    &--more {
        &:after {
            content: '';
            width: 16px;
            height: 16px;
            background: url('@/assets/images/ic_16_arrow_right.svg');
            margin-left: 8px;
        }
    }

    &__icon {
        display: flex;
        width: 24px;
        height: 24px;

        .button--small & {
            width: 20px;
            height: 20px;
        }

        &--left {
            margin: 0 12px 0 -4px;

            .button--small & {
                margin: 0 8px 0 0;
            }
        }
    }
}

.stage {
    display: flex;
    position: relative;
    background: $colorBlack;
    text-align: center;
    margin-top: -56px;

    @media (min-width: $breakpoint-sm) {
        margin-top: -128px;
    }

    .home & {
        // background: $colorPrimary;
        // background: rgba(0, 27, 186, 0.9);
        background: rgba(20, 24, 50, 0.45);
        text-align: left;
    }

    &__text {
        position: relative;
        z-index: 3;
        text-align: center;

        h1 {
            margin: 96px 0 64px;
            color: rgba($colorWhite, .48);

            .home & {
                margin: 96px 0 112px;
            }

            @media (min-width: $breakpoint-sm) {
                margin: 178px 0 112px;

                .home & {
                    margin: 200px 0;
                    line-height: 96px;
                    text-align: center;
                }
            }

            span {
                color: $colorWhite;

                &.underline {
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        z-index: -1;
                        bottom: 0;
                        left: 0;
                        height: 4px;
                        width: 100%;
                        background: $colorPrimary;

                        .home & {
                            background: $colorHighlight
                        }

                        @media (min-width: $breakpoint-sm) {
                            height: 12px;
                        }
                    }
                }

                p {
                    font-family: "TrimWeb";
                    color: $colorWhite;
                    margin: 0;
                    font-size: 32px;
                    line-height: 40px;
                    color: $colorWhite;

                    @media (min-width: $breakpoint-sm) {
                        font-size: 72px;
                        line-height: 80px;
                    }
                }
            }
        }
    }

    &__image {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .32;
        mix-blend-mode: lighten;
    }

    &__video {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // opacity: .32;
        mix-blend-mode: lighten;

        .home & {
            mix-blend-mode: multiply;
        }
    }
}

.pageIntro {
    display: flex;
    flex-direction: column;
    padding: 46px 0 0;

    @media (min-width: $breakpoint-sm) {
        padding: 78px 0 0;
        text-align: center;
    }

    span {
        font-size: 14px;
        letter-spacing: -0.28px;
        font-weight: 600;
        color: $colorPrimary;
        margin-bottom: 13px;
        margin-top: 0;

        @media (min-width: $breakpoint-sm) {
            font-size: 17px;
            letter-spacing: -0.45px;
            margin-bottom: 15px;
        }
    }

    h2 {
        margin: 0 auto;
        max-width: 600px;
    }

    p {
        color: $colorBlack;
        font-size: 17px;
        line-height: 28px;
        letter-spacing: -0.37px;
        margin-top: 23px;

        @media (min-width: $breakpoint-sm) {
            font-size: 20px;
            line-height: 36px;
            letter-spacing: -0.52px;
            margin: 47px auto 0;
            max-width: 680px;
        }
    }
}

.subnav {
    background: $colorWhite;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.08);

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;
        overflow-x: scroll;

        @media (min-width: $breakpoint-sm) {
            justify-content: center;
        }

        li {
            display: flex;
            justify-content: center;
            font-size: 17px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.45px;
            font-family: $fontSecondary;
            color: rgba($colorBlack, .48);
            padding: 14px 16px;
            text-decoration: none;
            white-space: nowrap;
            transition: all .2s ease-in-out;
            cursor: pointer;

            @media (min-width: $breakpoint-sm) {
                padding: 19px 16px;
            }

            &:hover {
                color: rgba($colorBlack, .64);

                a {
                    color: rgba($colorBlack, .64);
                }
            }

            a {
                transition: all .2s ease-in-out;
                color: rgba($colorBlack, .48);
                text-decoration: none;
            }

            &.is-active {
                color: $colorPrimary;
                box-shadow: inset 0 -2px 0 0 $colorPrimary;

                a {
                    color: $colorPrimary;
                }
            }
        }
    }

    /* Add class '.subnav--fullwidth' next to '.subnav' to make items fill whole width of the navigation */
    &--fullwidth {
        li {
            flex: 1;
            padding: 14px 0;

            @media (min-width: $breakpoint-sm) {
                padding: 19px 0;
            }
        }
    }
}