$themeColor: #0A1AB9;
$headerBackgroundColor: $themeColor;
$footerBackgroundColor: #00FFFF;
$footerFontColor: #001bba;
$headerFontColor: #343434;
$appFontColor: #2c3e50;

/* Fonts */
$fontPrimary: 'TrimWeb';
$fontSecondary: 'Rubik';

/* Colors */
$colorPrimary: #001BBA;
$colorBlack: #141832;
$colorHighlight: #00ECFF;
$colorWhite: #FFFFFF;
$colorBgGrey: #FAFAFA;

/* Breakpoint */
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;