<template>
    <div></div>
</template>

<script>
import { defineComponent } from 'vue'
export default defineComponent({
    name: 'BlogView',
    mounted() {
        window.location.replace('https://blog.sportplatz-media.com');
    },
})
</script>