<template>
    <div class="stage">
        <div class="container">
            <div class="stage__text">
                <h1><span><span class="underline">Kontakt</span></span></h1>
            </div>
            <img class="stage__image" v-if="contact_tiles.image_url" v-bind:src="'https://backend.sportplatz-media.com/media/original_images/' + contact_tiles.image_url" />
        </div>
    </div>
    
    <div class="container">
        <div class="grid">
            <div class="col-12">
                <div class="pageIntro">
                    <p>{{ removeHTML(contact_tiles.body) }}</p>
                </div>
            </div>
        </div>

        <div id="hubspotform"></div>
    </div>
</template>

<script>
import { defineComponent, reactive } from 'vue'
import axios from 'axios'
import { useHead } from '@vueuse/head'

export default defineComponent({
    name: 'ContactView',
    data() {
        return {
            contact_tiles: {}
        }
    },
    setup() {
        const metaData = reactive({
            title: 'Kontakt',
            description: 'Du hast Fragen zu unserem Angebot? Dann schick uns gerne deine Anfrage zu und wir melden uns bei dir.'
        })

        useHead({
            title: metaData.title,
            meta: [
                {
                    name: `description`,
                    content: metaData.description
                },
                {
                    property: `og:description`,
                    content: metaData.description
                }
            ]
        })
    },
    mounted() {
        this.init()
        this.createHubspotForm()
        this.setEventListener()
        this.checkActiveHeaderLink()
    },
    methods: {
        init() {
            axios.get('https://backend.sportplatz-media.com/api/v2/pages/84/?format=json')
            .then(response => (this.contact_tiles = response.data))
        },
        removeHTML(el) {
            var tmp = document.createElement("div");
            tmp.innerHTML = el;
            return tmp.textContent || tmp.innerText || "";
        },
        createHubspotForm() {
            const script = document.createElement("script");
            script.src="https://js.hsforms.net/forms/v2.js";
            document.body.appendChild(script);
            script.addEventListener("load", () => {
                if (window.hbspt) {
                    window.hbspt.forms.create({
                        portalId: "6645377",
                        formId: "e384e641-7bd0-472b-b8ce-e1910dad13bb",
                        target: "#hubspotform"
                    })
                }
            })
        },
        setEventListener() {
            setTimeout(() => {
                console.log("setEventListener");
                var iframe = document.getElementById('hs-form-iframe-0');

                if (iframe) {
                    var iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
                    var inputField = iframeDocument.querySelector('input[value="Einsenden"]');

                    if (inputField) {
                        inputField.addEventListener('click', () => {
                            this.sendConversionEvent();
                        });
                    } else {
                        console.log('Input-Feld nicht gefunden');
                    }
                } else {
                    console.log('iframe nicht gefunden');
                }
            }, 3000);
        },
        sendConversionEvent() {
            if (window.gtag) {
                window.gtag("event", "conversion", {
                    send_to: "AW-10929932219/wFHWCO-M8KMYELuP5tso"
                });
                console.log("Google Ads Conversion Event fired");
            } else {
                console.log("Google Ads Conversion Event not fired");
            }
        },
        checkActiveHeaderLink() {
            var links = document.getElementsByClassName('header__link');
            links.item(5).classList += ' header__link--active';

            var check_active = document.getElementsByClassName('header__link--active')
            if (check_active.length == 2) {
                check_active.item(0).classList.remove('header__link--active')
            }
        }
    }
})
</script>

<style scoped>
    #hubspotform {
        max-width: 550px;
        width: 100%;
        margin: auto;
        padding: 20px;
    }
    .pageIntro  {
        padding: 25px 0 0;
    }
</style>