<template>
    <div>
        <MarketingHeader active="digital"></MarketingHeader>
    </div>
    <div>
        <h1 v-html="digital_content.body"></h1>
        <div id="numbers-block">
            <div class="numbers-title">
                <h2>In Zahlen</h2>
            </div>
            <div class="numbers">
                <p>PIs/Monat</p>
                <div class="counter" data-target="86000000">1000000</div>
            </div>
            <div class="numbers">
                <p>UU/Monat</p>
                <div class="counter" data-target="1400000">100000</div>
            </div>
            <div class="numbers">
                <p>Video Views/Monat</p>
                <div class="counter" data-target="1000000">100000</div>
            </div>
        </div>

        <!-- tiles -->
        <div id="tiles-container">
            <div v-for="tile in digital_content.related_tiles" :key="tile.id" class="tiles">
            {{ tile.title_tile }} <br>
            <p v-html="tile.body_tile"/>
            </div>
        </div>

        <div>
            <h2>NÄHER DRAN mit unseren digitalen Kanälen</h2>
            <div id="native-tiles">
                <div class="native-tile display">
                    <p class="font">Display</p>
                </div>
                <div class="native-tile mobile">
                    <p class="font">Mobile</p>
                </div>
                <div class="native-tile inapp">
                    <p class="font">Inapp</p>
                </div>
                <div class="native-tile video">
                    <p class="font">Video</p>
                </div>
            </div>
        </div>

        <ContactPerson v-bind:contact_person="contact_person"></ContactPerson>
    </div>
</template>

<script>
import { defineComponent } from 'vue'
import axios from 'axios'
import ContactPerson from '../components/ContactPerson.vue'
import MarketingHeader from '../components/MarketingHeader.vue'
export default defineComponent({
    name: 'DigitalView',
    components: { ContactPerson, MarketingHeader },
    data() {
        return {
            digital_content: [],
            contact_person: [],
        }
    },
    mounted() {
        this.init();
        this.numberAnimation();
    },
    methods: {
        init() {
            axios.get('https://backend.sportplatz-media.com/api/v2/contacts/1/?format=json')
            .then(response => (this.contact_person = response.data))

            axios.get('https://backend.sportplatz-media.com/api/v2/pages/17/?format=json')
            .then(response => (this.digital_content = response.data))
        },

        numberAnimation() {
            const counters = document.querySelectorAll('.counter');
            for(let n of counters) {
                const updateCount = () => {
                    const target = + n.getAttribute('data-target');
                    const count = + n.innerText;
                    const speed = 3000;
                    const inc = target / speed; 
                    if(count < target) {
                        n.innerText = Math.ceil(count + inc);
                        setTimeout(updateCount, 1);
                    } else {
                        n.innerText = target;
                    }
                }
                updateCount();
            }
        }
    }
})
</script>

<style scoped>
#numbers-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.numbers-title {
    width: 100%;
}
.numbers {
    width: 33%;
}

#tiles-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.tiles {
    width: 50%;
    max-width: 400px;
    margin: auto;
}

.font {
    background-color: #0A1AB9;
    color: #fff;
}

#native-tiles {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 850px;
}

.native-tile {
    width: 45%;
    min-height: 150px;
    margin: 5px;
}
.display {
    background: url('../assets/images/native-image1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.mobile {
    background: url('../assets/images/native-image2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.inapp {
    background: url('../assets/images/native-image3.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.video {
    background: url('../assets/images/video-print.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
</style>