<template>
    <div class="home">

        <div class="stage">
            <div class="container">
                <div class="stage__text">
                    <h1 v-if="home.header_text" class="hidden-sm-up"><span v-html="removeParagraphFromString(home.header_text)"></span></h1>
                    <h1 v-if="home.header_text" class="hidden-xs-down"><span v-html="removeParagraphFromString(home.header_text)"></span></h1>
                </div>
                <video class="stage__video" autoplay playsinline muted="'muted'" loop>
                    <source src="@/assets/images/mp4/start_video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="container">
            <div class="grid">
                <div class="col-12 col-bleed-y">

                    <div v-if="this.banner" class="omr-hint">
                            <div class="omr-hint__content">
                                <div v-if="this.banner.image" class="omr-hint__logo">
                                    <img :src="'https://backend.sportplatz-media.com' + this.banner.image.meta.download_url" :alt="this.banner.image.title">
                                </div>
                                <div class="omr-hint__text">
                                    <div v-if="this.banner.image" class="omr-hint__text__title omr-hint__text__title--desktop">
                                        {{ this.banner.headword }}
                                    </div>
                                    <div v-if="this.banner.image" class="omr-hint__text__title omr-hint__text__title--mobile">
                                        <!-- @Bjarne: Add own entry in backend for title text in mobile and add this here instead of this.banner.headword -->
                                        {{ this.banner.headword }}
                                    </div>
                                    <div class="omr-hint__text__subline">
                                        {{ removeHTML(this.banner.body) }}
                                    </div>
                                </div>
                            </div>
                            <a :href="readLinkFromBody(this.banner.body)" class="button button--primary hover">
                                Zum Downlad
                            </a>
                    </div>
                </div>

                <div class="col-12">
                    <div class="intro-text" v-html="home.body"></div>
                </div>

                <div class="col-md-12 col-lg-10 offset-lg-1 ">
                    <div class="contentBlock">
                        <BlogPageTile v-bind:tiles="this.home"></BlogPageTile>
                    </div>
                </div>

            </div>
        </div>

        <TouchPoint :touchpoint="this.touchpoint"></TouchPoint>

        <News v-bind:news="news.items" v-bind:is-job-page="false"></News>
    </div>
</template>

<script>
import { defineComponent, reactive } from 'vue';
import axios from 'axios';
import TouchPoint from '../components/TouchPoint.vue';
import BlogPageTile from '../components/BlogPageTile.vue'
import News from '../components/News.vue';
import { useHead } from '@vueuse/head'
export default defineComponent({
    name: 'HomeView',
    components: { TouchPoint, News, BlogPageTile },
    setup() {
        const siteData = reactive({
            title: 'SPM Sportplatz Media GmbH | Sportvermarktung & Softwareentwicklung',
            description: 'NÄHER DRAN an Sportdeutschland • Digitale Kampagnen • Tiefenintegrationen • Video • Social Media • Print & Digitale Lösungen für Sportreichweiten 🚀',
            sitename: 'Online Werbebotschaften im Sport | Sportplatz Media',
            locale: 'de_DE',
            type: 'website',
            robots: 'index,follow',
            url: 'https://sportplatz-media.com/',
            image: 'https://sportplatz-media.com/assets/Vorschau_Social.jpg'
        })

        useHead({
            // Can be static or computed
            title: siteData.title,
            meta: [
                {
                    name: `site_name`,
                    property: `og:site_name`,
                    content: siteData.sitename
                },
                {
                    name: `locale`,
                    property: `og:locale`,
                    content: siteData.locale
                },
                {
                    name: `og:type`,
                    content: siteData.type
                },
                {
                    name: `robots`,
                    content: siteData.robots
                },
                {
                    name: `og:url`,
                    content: siteData.url
                },
                {
                    property: `og:image`,
                    content: siteData.image
                },
                {
                    name: `description`,
                    content: siteData.description
                },
                {
                    property: `og:description`,
                    content: siteData.description,
                }
            ],
        })
    },
    data() {
        return {
            home: [],
            news: [],
            banner: [],
            touchpoint: []
        }
    },
    mounted() {
        this.init();
    },
    methods: {
        init() {
            axios.get('https://backend.sportplatz-media.com/api/v2/pages/22/?format=json')
            .then(response => (this.home = response.data))

            // banner
            axios.get('https://backend.sportplatz-media.com/api/v2/pages/99/?format=json')
            .then(response => (this.banner = response.data))

            // touchpoint
            axios.get('https://backend.sportplatz-media.com/api/v2/pages/100/?format=json')
            .then(response => (this.touchpoint = response.data))

            // news
            axios.get('https://backend.sportplatz-media.com/api/v2/pages/?child_of=23&type=home.HomePage&fields=body,image,headword,date&order=-date&limit=3')
            .then(response => (this.news = response.data))
        },
        removeHTML(el) {
            var tmp = document.createElement("div");
            tmp.innerHTML = el;
            return tmp.textContent || tmp.innerText || "";
        },
        readLinkFromBody(el) {
            var tmp = document.createElement("div");
            tmp.innerHTML = el;
            if (tmp.querySelector('a')) {
                return tmp.querySelector('a').href;
            } else {
                return 'https://sportplatz-media.com/jobs/';
            }
        },
        removeParagraphFromString(text) {
            let tmp_string = text.replace(/<\/?p[^>]*>/g, "");
            return tmp_string;
        },
    }
})
</script>

<style lang="scss">
    .omr-hint {
        position: relative;
        z-index: 4;
        // omr over
        display: flex;
        align-items: center;
        flex-direction: column;
        background: $colorWhite;
        padding: 16px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.08);
        margin-top: -56px;

        @media (min-width: $breakpoint-sm) {
            padding: 12px 32px;
            margin-top: -62px;
            flex-direction: row;
        }

        &__content {
            display: flex;
            align-items: center;
            width: 100%;
        }

        &__logo {
            display: flex;
            margin-right: 12px;

            @media (min-width: $breakpoint-sm) {
                margin-right: 0;
            }

            img {
                object-fit: contain;
                width: auto;
                height: auto;
                max-width: 48px;

                @media (min-width: $breakpoint-sm) {
                    max-width: 80px;
                }
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            margin-right: auto;

            @media (min-width: $breakpoint-sm) {
                margin-left: 32px;
            }

            &__title {
                font-size: 17px;
                font-weight: 700;
                color: $colorBlack;
                margin-bottom: 4px;

                @media (min-width: $breakpoint-sm) {
                    margin-bottom: 7px;
                }

                &--desktop {
                    display: none;

                    @media (min-width: $breakpoint-sm) {
                        display: flex;
                    }
                }

                &--mobile {
                    display: flex;

                    @media (min-width: $breakpoint-sm) {
                        display: none;
                    }
                }

                img {
                    width: 40px;
                    margin-bottom: -10px;
                    margin-right: 12px;
                    background: rgba($colorBlack, .04);
                    padding: 0 8px;

                    @media (min-width: $breakpoint-sm) {
                        display: none;
                    }
                }

                @media (min-width: $breakpoint-sm) {
                    font-size: 22px;
                }
            }

            &__subline {
                font-size: 14px;
                font-family: $fontSecondary;
                letter-spacing: -0.32px;
                color: rgba($colorBlack, .48);

                @media (min-width: $breakpoint-sm) {
                    font-size: 17px;
                    letter-spacing: -0.45px;
                    color: $colorBlack;
                }
            }
        }

        .button {
            margin-top: 16px;
            width: 100%;

            @media (min-width: $breakpoint-sm) {
                margin-top: 0;
                width: auto;
                white-space: nowrap;
            }
        }
    }

    .intro-text {
        text-align: left;
        margin-top: 48px;

        @media (min-width: $breakpoint-sm) {
            text-align: center;
            margin: 96px auto 0;
            width: 100%;
            max-width: 960px;
        }

        p {
            font-size: 17px;
            line-height: 28px;
            font-family: $fontSecondary;
            letter-spacing: -0.63px;
            color: $colorBlack;
            margin: 0;

            @media (min-width: $breakpoint-sm) {
                font-size: 24px;
                line-height: 40px;
            }
        }
    }
</style>

<style scoped>

    .home_text {
        max-width: 850px;
        margin: auto;
    }

    #home-tiles {
        width: 100%;
        display: flex;
        flex: wrap;
    }

    .home-tile {
        width: 50%;
        margin: 10px;
    }

    .home-link-box {
        width: 100%;
    }
    .home-link-box a {
        padding: 0px 20px;
    }

    #marketing-tile {
        background-image: url('../assets/images/home-image1.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        color: #fff;
    }

    #software-tile {
        background-image: url('../assets/images/home-image2.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        color: #fff;
    }

    #video-container {
        width: 100%;
        height: 100%;
        max-height: 500px;
    }
</style>