<template>
    <div class="stage">
            <div class="container">
                <div class="stage__text">
                    <h1><span class="underline">{{ imprint_content.headword }}</span></h1>
                </div>
                <img class="stage__image" v-if="imprint_content.image_url" v-bind:src="'https://backend.sportplatz-media.com/media/original_images/' + imprint_content.image_url" />
            </div>
    </div>

    <div id="container">
        <div class="container">
            <div class="grid justify-center">
                <div class="col-lg-8 col-bleed-y">
                    <div class="newsDetail">
                        <!--<div class="newsDetail__head">
                            <h1>{{ imprint_content.title }}</h1>
                        </div>-->
                        <div class="newsDetail__content">
                            <p v-html="imprint_content.body"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import { defineComponent } from 'vue'
export default defineComponent({
    name: 'ImprintView',
    data() {
        return {
            imprint_content: {}
        }
    },
    mounted() {
        this.init();
    },
    methods: {
        init() {
            axios.get('https://backend.sportplatz-media.com/api/v2/pages/9/?format=json')
            .then(response => (this.imprint_content = response.data))
        }
    }
})
</script>

<style scoped>
#container {
    width: 100%;
    max-width: 1250px;
    margin: auto;
    text-align: left;
}
</style>