<template>
    <div class="stage">
        <div class="container">
            <div class="stage__text">
                <h1><span>Werde Teil <br><span class="underline">unseres Teams</span></span></h1>
            </div>
            <img class="stage__image" v-if="jobpage_content.image_url" v-bind:src="'https://backend.sportplatz-media.com/media/original_images/' + jobpage_content.image_url" />
        </div>
    </div>
        

    <div class="col-12">
        <div class="intro-text">
            <p v-html="jobpage_content.body" />
        </div>
    </div>

    <div class="container">
        <div class="grid">
            <div class="col-12 col-bleed-y">
                <div class="news__header">
                    <h4>{{ jobpage_content.headword }}</h4>
                    <!--<router-link to="">Alle ansehen</router-link>-->
                </div>
                <div class="news__list" style="margin-top: 40px;">
                    <template v-for="job in jobs.items" :key="job.id">
                        <NewsCard v-bind:n="job"></NewsCard>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import axios from "axios";
import { defineComponent,reactive } from "vue";
import NewsCard from "../components/NewsCard.vue";
import { useHead } from '@vueuse/head'

export default defineComponent({
    name: "JobsView",
    data() {
        return {
            jobpage_content: [],
            jobs: [],
        };
    },
    mounted() {
        this.init();
    },
    methods: {
        init() {
            axios.get("https://backend.sportplatz-media.com/api/v2/pages/15/?format=json")
                .then(response => (this.jobpage_content = response.data));
            // jobs -> for tiles
            // jobs.items.body as example to access data ()
            axios.get("https://backend.sportplatz-media.com/api/v2/pages/?child_of=15&type=home.HomePage&fields=body,image,headword&order=-id")
                .then(response => (this.jobs = response.data));
        },
    },
    components: { NewsCard },
    setup() {
        const metaData = reactive({
            title: 'Jobs',
            description: 'Werde Teil unseres Team und schicke uns deine aussagekräftige Bewerbung zu.'
        })

        useHead({
            title: metaData.title,
            meta: [
                {
                    name: `description`,
                    content: metaData.description
                },
                {
                    property: `og:description`,
                    content: metaData.description
                },
                {
                    property: `og:image`,
                    content: 'https://sportplatz-media.com/assets/meta/Jobs_Meta-Vorschau_1200x628.jpg'
                }
            ]
        })
    }
})

</script>
<style lang="scss" scoped>
    .news {

        &__list {
            margin: 64px 0;

            @media (min-width: $breakpoint-sm) {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
                margin: 128px 0 88px;
            }
        }

        &__card {

            @media (min-width: $breakpoint-sm) {
                width: calc((100% - 80px) / 3);
                margin-bottom: 0;
            }
        }
    }
</style>