<template>
    <div class="stage">
        <div class="container">
            <div class="stage__text">
                <h1 v-if="marketing_content.header_text">
                    <span v-html="whenITagIsPresentAndUnderlineClass(marketing_content.header_text)">
                    </span>

                    <HeaderCTA v-if="header_cta" :header_cta="header_cta" />
                    
                </h1>
                
            </div>
            <img class="stage__image" v-if="marketing_content.image_url" v-bind:src="'https://backend.sportplatz-media.com/media/original_images/' + marketing_content.image_url" />
        </div>
    </div>

    <MarketingHeader active="marketing"></MarketingHeader>

    <div class="container">
        <div class="grid">
            <div class="col-12">

                <div class="pageIntro">
                    <span>Display &amp; Video Ads・ Brand Partnerships ・ Dealplattform</span>
                    <h2>Deine digitale Kampagne im Sportumfeld!</h2>
                    <p>{{ removeHTML(marketing_content.body) }}</p>
                </div>

                <div class="facts">
                    <div class="facts__item">
                        <div class="facts__item__value">
                            70
                        </div>
                        <div class="facts__item__label">
                            Sport-Medien
                        </div>
                    </div>
                    <div class="facts__item">
                        <div class="facts__item__value">
                            1.1 Mrd.
                        </div>
                        <div class="facts__item__label">
                            Page Impressions (mtl.)
                        </div>
                    </div>
                    <div class="facts__item">
                        <div class="facts__item__value">
                            15 Mio.
                        </div>
                        <div class="facts__item__label">
                            Unique Users (mtl.)
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12 col-lg-10 offset-lg-1">
                <div class="contentBlock">
                    <BlogPageTile v-bind:tiles="this.marketing_content"></BlogPageTile>
                </div>
            </div>
        </div>
    </div>

    <!--<TouchPoint></TouchPoint>-->
    <BestCase :best_case="best_case"></BestCase>

    <Clients></Clients>

    <CustomerVoice v-bind:voices="this.customer_voice" :headline="'Stimmen aus über 5.000 erfolgreichen Kampagnen'"></CustomerVoice>

    <div class="head-contact-con">
        <h3 class="head-contact" style="margin: 0px auto;">Ansprechpartner</h3>
    </div>
    <div class="contactPerson__many">
        <div class="container">
            <div class="grid">
                <!-- Zwei -->
                <div class="col-md-6 col-bleed-y">
                    <ContactPerson v-bind:contact_person="contact1" ></ContactPerson>
                </div>
                <div class="col-md-6 col-bleed-y">
                    <ContactPerson v-bind:contact_person="contact2" ></ContactPerson>
                </div>

                <!-- Drei -->
                <!--<div class="col-lg-4 col-bleed-y">
                    <ContactPerson v-bind:contact_person="contact_person" ></ContactPerson>
                </div>
                <div class="col-lg-4 col-bleed-y">
                    <ContactPerson v-bind:contact_person="contact_person" ></ContactPerson>
                </div>
                <div class="col-lg-4 col-bleed-y">
                    <ContactPerson v-bind:contact_person="contact_person" ></ContactPerson>
                </div>-->
            </div>
        </div>
    </div>

</template>

<script>
import axios from 'axios'
import { defineComponent, reactive, onMounted } from 'vue'
import MarketingHeader from '@/components/MarketingHeader.vue'
import TouchPoint from '@/components/TouchPoint.vue';
import BlogPageTile from '@/components/BlogPageTile.vue';
import Clients from '@/components/Clients.vue';
import CustomerVoice from '@/components/CustomerVoice.vue'
import BestCase from '@/components/BestCase.vue';
import ContactPerson from '@/components/ContactPerson.vue';
import { useHead } from '@vueuse/head'
import HeaderCTA from '../components/HeaderCTA.vue';

export default defineComponent({
    name: 'MarketingView',
    components: { MarketingHeader, TouchPoint, BlogPageTile, Clients, CustomerVoice, BestCase, ContactPerson, HeaderCTA },
    setup() {
        const metaData = reactive({
            title: 'Digitale Sportvermarktung',
            description: 'Wir platzieren Werbebotschaften im Sportumfeld. Mit Deutschlands größtem Sports Media Network die attraktive Zielgruppe der Sportler:innen erreichen.'
        })
        useHead({
            title: metaData.title,
            meta: [
                {
                    name: `description`,
                    content: metaData.description
                },
                {
                    property: `og:description`,
                    content: metaData.description
                },
                {
                    property: `og:image`,
                    content: 'https://sportplatz-media.com/assets/meta/Advertiser_Meta-Vorschau_1200x628.jpg'
                }
            ]
        })
    },
    data() {
        return {
            marketing_content: [],
            customer_voice: [],
            contact1: [],
            contact2: [],
            best_case: [],
            header_cta: null,
        } 
    },
    mounted() {
        this.initializeSalesViewer();
        this.init();
        this.checkActiveHeaderLink();
    },
    methods: {
        init() {
            axios.get('https://backend.sportplatz-media.com/api/v2/pages/21/?format=json')
            .then(response =>  {
                this.marketing_content = response.data
                if (this.marketing_content.header_cta) {
                    if (this.marketing_content.header_cta.length > 0) {
                        this.marketing_content.header_cta.forEach(element => {
                            if (this.header_cta == null) {
                                this.header_cta = {};
                            }

                            if (element.type == 'cta_link') {
                                this.header_cta["cta_link"] = element.value;
                            } else if (element.type == 'cta_text') {
                                this.header_cta["cta_text"] = element.value;
                            } else if (element.type == 'cta_styles') {
                                this.header_cta["cta_styles"] = element.value;
                                this.header_cta["cta_styles"].custom_css = this.removeParagraphTagsFromString(this.header_cta["cta_styles"].custom_css);
                            } else if (element.type == 'cta_target_blank') {
                                this.header_cta["cta_target"] = element.value;
                            }
                        });
                    }
                     
                    // console.log(this.header_cta);
                    this.addCustomStyleElement();
                }
            })

            axios.get('https://backend.sportplatz-media.com/api/v2/pages/?child_of=28&type=home.HomePage&headword=Advertiser&fields=body,image&order=id')
            .then(response => (this.customer_voice = response.data))

            axios.get('https://backend.sportplatz-media.com/api/v2/pages/102/?format=json')
            .then(response => (this.best_case = response.data))

            axios.get('https://backend.sportplatz-media.com/api/v2/contacts/1/?format=json')
            .then(response => (this.contact1 = response.data))

            axios.get('https://backend.sportplatz-media.com/api/v2/contacts/4/?format=json')
            .then(response => (this.contact2 = response.data))
        },
        initializeSalesViewer() {
            const salesViewerScript = `
            !(function (s, a, l, e, sv, i, ew, er) {
                try {
                (a = s[a] || s[l] || function () {throw 'no_xhr';}),
                (sv = i = 'https://salesviewer.org'),
                (ew = function(x) {
                    (s = new Image()),
                    (s.src = 'https://salesviewer.org/tle.gif?sva=e6l0O8d8s0t1&u=' + encodeURIComponent(window.location) + '&e=' + encodeURIComponent(x));
                }),
                (l = s.SV_XHR = function (d) {
                    return ((er = new a()),
                    (er.onerror = function () {
                    if (sv != i) return ew('load_err');
                    (sv = 'https://www.salesviewer.com/t'), setTimeout(l.bind(null, d), 0);
                    }),
                    (er.onload = function () {(s.execScript || s.eval).call(er, er.responseText);}),
                    er.open('POST', sv, !0),
                    (er.withCredentials = true),
                    er.send(d),
                    er);
                }),
                l('h_json=' + 1 * ('JSON' in s && void 0 !== JSON.parse) + '&h_wc=1&h_event=' + 1 * ('addEventListener' in s) + '&sva=' + e);
                } catch (x) {
                ew(x);
                }
            })(window, 'XDomainRequest', 'XMLHttpRequest', 'e6l0O8d8s0t1');
            `;
            eval(salesViewerScript);
        },

        removeHTML(el) {
            var tmp = document.createElement("div");
            tmp.innerHTML = el;
            return tmp.textContent || tmp.innerText || "";
        },
        checkActiveHeaderLink() {
            var links = document.getElementsByClassName('header__link');
            links.item(0).classList += ' header__link--active';
        },
        whenITagIsPresentAndUnderlineClass(text) {
            // here replace all <i> tags with <span> and add class underline
            let tmp_string = text.replace(/<i>/g, "<span class='underline'>");
            tmp_string = tmp_string.replace(/<\/i>/g, "</span>");
            return tmp_string;
        },
        removeParagraphTagsFromString(text) {
            return text.replace(/<\/?p[^>]*>/g, "");
        },
        addCustomStyleElement() {
          if (!this.header_cta) {
            return
          }
          let style = document.createElement('style');
          style.type = 'text/css';
          if (this.header_cta.cta_styles.custom_css.includes(':hover')) {
            const hoverContentMatch = this.header_cta.cta_styles.custom_css.match(/:hover\s*{([^}]+)}/);
            const hoverContent = hoverContentMatch[1].trim();
            style.innerHTML = '#header_cta {' + this.header_cta.cta_styles.custom_css.replace(hoverContentMatch[0], '') + ' } #header_cta:hover { ' + hoverContent + ' }';
          } else {
            style.innerHTML = '#header_cta { ' + this.header_cta.cta_styles.custom_css + ' }';
          }

          document.getElementsByTagName('head')[0].appendChild(style);
        }
    }
})
</script>

<style lang="scss">
    .facts {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        @media (min-width: $breakpoint-sm) {
            margin-top: 85px;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: $colorWhite;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.08);
            width: calc((100% - 20px) / 3);
            max-width: 260px;
            padding: 16px 0;
            text-align: center;

            @media (min-width: $breakpoint-sm) {
                width: calc((100% - 48px) / 3);
                padding: 32px 0 34px;
            }

            &:nth-child(2) {
                margin: 0 10px;

                @media (min-width: $breakpoint-sm) {
                    margin: 0 24px;
                }
            }

            &__value {
                font-size: 20px;
                font-weight: 700;
                color: $colorBlack;
                margin-bottom: 3px;

                @media (min-width: $breakpoint-sm) {
                    font-size: 36px;
                }
            }

            &__label {
                font-size: 10px;
                letter-spacing: -0.15px;
                font-weight: 500;
                font-family: $fontSecondary;
                color: rgba($colorBlack, .48);

                @media (min-width: $breakpoint-sm) {
                    font-size: 14px;
                }
            }
        }
    }

    .head-contact-con {
        width: 100%; 
        text-align: center; 
        background: #FAFAFA
    }
    .head-contact {
        margin: 0px auto;
    }

</style>