<template>
    <div class="container">
        <div class="grid justify-center">
            <div class="col-lg-8 col-bleed-y">

                <div class="newsDetail">
                    <div class="newsDetail__image">
                        <img v-if="news.image" v-bind:src="'https://backend.sportplatz-media.com' + news.image.meta.download_url" />
                        <img v-else src="@/assets/images/Störer-Advertiser_2x.webp" width="200" />
                    </div>
                    <div class="newsDetail__head">
                        <div class="newsDetail__head__meta">
                            <template v-if="news.date"> {{ formatDate(news.date) }} </template> • {{ news.headword }}
                        </div>
                        <h1>{{ news.title }}</h1>
                    </div>
                    <div class="newsDetail__content">
                        <p v-html="news.body"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import { defineComponent,computed } from 'vue'
import { useHead } from '@vueuse/head'
//import { Head } from '@vueuse/head'


export default defineComponent({
    name: 'NewsDetailPage',
    data() {
        return {
            news: [],
            meta_image_url: "",
            seo_title: "",
            search_description: ""
        }
    },
    mounted() {
        this.init()
    },
    methods: {
        init() {
            axios.get('https://backend.sportplatz-media.com/api/v2/pages/' + this.$route.params.id)
            .then(response => {
                this.news = response.data;
                if (this.news && this.news.body && this.news.body.includes("embed")) {
                    let parser = new DOMParser();
                    const doc = parser.parseFromString(this.news.body, 'text/html');
                    var embed = doc.getElementsByTagName("embed");
                    console.log(embed);
                    if (embed.length > 0) {
                        for(var i = 0; i < embed.length; i++) {
                            var x = embed.item(i);
                            var imageId = embed.item(i).getAttribute("id");
                            axios.get("https://backend.sportplatz-media.com/api/v2/images/" + imageId).then((res) => {
                                var div = doc.createElement("div");
                                div.setAttribute("class", "newsDetail__image");
                                var img = doc.createElement("img");
                                img.setAttribute("src", "https://backend.sportplatz-media.com" + res.data.meta.download_url);
                                img.setAttribute("alt", res.data.caption);
                                div.appendChild(img);
                                x.replaceWith(div);
                                this.news.body = doc.body.innerHTML;
                            });
                        }
                    }
                }
                this.meta_image_url = 'https://backend.sportplatz-media.com' + this.news.image.meta.download_url;
                this.seo_title = this.news.meta.seo_title;
                this.search_description =  this.news.meta.search_description;
            });
            this.updateMetaInfo();
        },
        formatDate (input) {
            const [year, month, day] = input.split('-');
            const result = [day, month, year].join('.');
            return result
        },
        updateMetaInfo() {
            useHead({
                title: computed(() => this.seo_title),
                meta: [
                    {
                        name: `description`,
                        content: computed(() => this.search_description)
                    },
                    {
                        property: 'og:description',
                        content: computed(() => this.search_description)
                    },
                    {
                        property: 'og:image',
                        content: computed(() => this.meta_image_url),
                        key: 'og:image',
                    },
                ],
            });
        }
    },

})
</script>


<style lang="scss">
    .newsDetail {
        padding: 16px 0 64px 0;

        @media (min-width: $breakpoint-sm) {
            padding: 64px 0 128px 0;
        }

        &__image {
            position: relative;
            margin-bottom: 39px;

            @media (min-width: $breakpoint-sm) {
                margin-bottom: 70px;
            }

            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 10px;
                left: 10px;
                width: 100%;
                height: 100%;
                border-radius: 12px;
                box-shadow: inset 0 0 0 2px $colorBlack;

                @media (min-width: $breakpoint-sm) {
                    border-radius: 14px;
                    top: 16px;
                    left: 16px;
                }
            }

            img {
                width: 100%;
                border-radius: 16px;
            }
        }

        &__head {
            &__meta {
                font-size: 14px;
                font-weight: 600;
                font-family: $fontSecondary;
                letter-spacing: -0.28px;
                color: $colorPrimary;

                @media (min-width: $breakpoint-sm) {
                    font-size: 17px;
                    letter-spacing: -0.45px;
                }
            }

            h1 {
                font-size: 28px;
                line-height: 34px;
                color: $colorBlack;
                margin-top: 13px;
                margin-bottom: 22px;

                @media (min-width: $breakpoint-sm) {
                    font-size: 44px;
                    line-height: 56px;
                    margin-top: 15px;
                    margin-bottom: 40px;
                }
            }
        }

        &__content {

            p {
                line-height: 28px;

                @media (min-width: $breakpoint-sm) {
                    font-size: 20px;
                    line-height: 36px;
                    letter-spacing: -0.28px;
                    color: rgba($colorBlack, .64);
                }
            }

            a {
                color: $colorPrimary;
                font-weight: 500;
            }

            h4 {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 16px;

                @media (min-width: $breakpoint-sm) {
                    font-size: 32px;
                    line-height: 36px;
                    margin-top: 46px;
                    margin-bottom: 26px;
                }
            }
        }
    }
</style>