<template>
    <div class="stage">
        <div class="container">
            <div class="stage__text">
                <h1><span>Immer auf dem<br><span class="underline">aktuellsten Stand</span></span></h1>
            </div>
            <img class="stage__image" v-if="news_content.image_url" v-bind:src="'https://backend.sportplatz-media.com/media/original_images/' + news_content.image_url" />
        </div>
    </div>
    
    <div class="container">
        <div class="grid">
            <div class="col-12 col-bleed-y">
                <div class="news__list">
                    <template v-for="n in news.items" :key="n.id">
                        <NewsCard v-bind:n="n"></NewsCard>
                    </template>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import { defineComponent } from 'vue'
import axios from "axios"
import NewsCard from '../components/NewsCard.vue'
import { useHead } from '@vueuse/head'

export default defineComponent({
    name: 'NewsView',
    components: {
        NewsCard
    },
    setup() {
        useHead({
            meta: [
                {
                    property: `og:image`,
                    content: 'https://sportplatz-media.com/assets/meta/News_Meta-Vorschau_1200x628.jpg'
                }
            ]
        })
    },
    data() {
        return {
            news: [],
            news_content: []
        }
    },
    methods: {
        init() {
            axios.get('https://backend.sportplatz-media.com/api/v2/pages/23/')
            .then(response =>  (this.news_content = response.data))
            axios.get('https://backend.sportplatz-media.com/api/v2/pages/?child_of=23&type=home.HomePage&fields=body,image,headword,date&order=-date')
            .then(response => (this.news = response.data))
        },
        checkActiveHeaderLink() {
            var links = document.getElementsByClassName('header__link');
            links.item(4).classList += ' header__link--active';

            var check_active = document.getElementsByClassName('header__link--active')
            if (check_active.length == 2) {
                check_active.item(0).classList.remove('header__link--active')
            }
        }
    },
    mounted() {
        this.init()
        this.checkActiveHeaderLink()
    }
})
</script>

<style lang="scss" scoped>
    .news {

        &__list {
            margin: 64px 0;

            @media (min-width: $breakpoint-sm) {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
                margin: 128px 0 88px;
            }
        }

        &__card {

            @media (min-width: $breakpoint-sm) {
                width: calc((100% - 80px) / 3);
                margin-bottom: 0;
            }
        }
    }
</style>