<template>
    <div v-if="article && articleType == 'home.FreeFormPage'">

        <div class="stage">
            <div class="container">
                <div class="stage__text">
                    <h1><span v-html="article.title"></span></h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="grid">
                <div class="col-12">
                    <div v-for="b in article.body" v-bind:key="b.id">
                        <div v-if="b.type == 'paragraph'" v-html="b.value"></div>
                        <div v-if="b.type == 'html'" v-html="b.value"></div>
                        <div v-else-if="b.type == 'image'">
                            <img class="full-width" :src="baseUrl + '/scaled/1280/' + b.value.filename" :alt="b.value.title" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div v-else-if="errorLoadingArticle">
        <div class="stage">
            <div class="container">
                <div class="stage__text">
                    <h1><span>Seite leider nicht<br><span class="underline">gefunden</span></span></h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="grid">
                <div class="col-12">
                    <div class="pageIntro">
                        <p>Zurück zur <router-link to="/">Startseite</router-link></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { defineComponent } from 'vue'
import { useHead } from '@vueuse/head'
import axios from 'axios'

export default defineComponent({
    name: 'PageNotFound',
    data() {
        return {
            article: null,
            errorLoadingArticle: false
        }
    },
    mounted() {
        this.init(this.$route.path.slice(1));
    },
    beforeRouteUpdate (to, from, next) {
        this.init(to.params.id);
        next();
    },
    computed: {
        baseUrl() {
            return "https://backend.sportplatz-media.com";
        }
    },
    methods: {
        init(articleId) {
            this.article = null;
            this.errorLoadingArticle = false;
            if (this.isNumeric(articleId)) {
                this.loadArticle(articleId);
            }
            else {
                let slug = articleId.replaceAll("/", "--");
                console.log("slug = " + slug);
                let apiUrl = this.baseUrl + "/api/v2/";
                axios
                    .get(apiUrl + 'pages/?slug=' + slug)
                    .then(response => {
                        let searchResult = response.data;
                        if (searchResult.items && searchResult.items.length > 0) {
                            articleId = searchResult.items[0].id;
                            this.loadArticle(articleId);
                        }
                        else {
                            this.errorLoadingArticle = true;
                        }
                    });
            }
        },
        checkLinks() {
            var links = document.getElementsByTagName("a");
            for (var l = 0; l < links.length; l++){
                if (links[l].href.endsWith(".pdf")){
                    links[l].target = "_blank";
                }
            }
        },
        loadArticle(articleId) {
            let apiUrl = this.baseUrl + "/api/v2/";
            axios
            .get(apiUrl + 'pages/' + articleId + "/")
            .then(response => {
                this.article = response.data;  
                this.articleType = this.article.meta.type;

                this.$nextTick( () => this.checkLinks() );
            })
            .catch(error => {
                console.log(error);
                // set article object to only contain id so the removeLike button can work
                this.errorLoadingArticle = true;
            });
        },
        isNumeric(str) {
            if (typeof str != "string") return false // we only process strings!  
            return !isNaN(str) && // use type coercion to parse the _entirety_ of the string (`parseFloat` alone does not do this)...
                    !isNaN(parseFloat(str)) // ...and ensure strings of whitespace fail
        },
    },
    setup() {
        useHead({
            meta: [
                {
                    property: `og:image`,
                    content: 'https://sportplatz-media.com/assets/Vorschau_Social.jpg'
                }
            ]
        })
    }
})
</script>
<style lang="scss">

    .image_with_link {
        margin-top: 10px;
        margin-bottom: 20px;
        display:flex;
    }

    .image_with_link p {
        text-align: justify;
    }

    .image_with_link img {
        @media screen and (max-width: 767px) {
            max-width: 100px;
        }
    }

    .image_with_link_right img {
        margin: 20px 0 10px 20px;
    }
    .image_with_link_left img {
        margin: 20px 20px 10px 0;
    }

    img.full-width {
        max-width: 100%;
        height: auto!important;
    }

</style>