<template>
    <div>
        <MarketingHeader active="print"></MarketingHeader>
    </div>
    <div>
        <p v-html="print_content.body" />

        <div id="tiles-container">
            <div v-for="tile in print_content.related_tiles" :key="tile.id" class="tiles">
                {{ tile.title_tile }} <br>
                <p v-html="tile.body_tile"/>
            </div>
        </div>
    </div>

    <div>
        <h2>NÄHER DRAN mit diesen Optionen</h2>
        <div id="native-tiles">
            <div class="native-tile display">
                <p class="font">Display</p>
            </div>
            <div class="native-tile advertorial">
                <p class="font">Advertorial</p>
            </div>
        </div>
    </div>

    <div>
        <ContactPerson v-bind:contact_person="contact_person"></ContactPerson>
    </div>
</template>

<script>
import { defineComponent } from 'vue'
import axios from 'axios'
import MarketingHeader from '../components/MarketingHeader.vue'
import ContactPerson from '../components/ContactPerson.vue'
export default defineComponent({
    name: 'PrintView',
    components: { MarketingHeader, ContactPerson },
    data() {
        return {
            contact_person: [],
            print_content: []
        }
    },
    mounted() {
        this.init();
    },
    methods: {
        init() {
            axios.get('https://backend.sportplatz-media.com/api/v2/contacts/1/?format=json')
            .then(response => (this.contact_person = response.data))

            //print page
            axios.get('https://backend.sportplatz-media.com/api/v2/pages/18/?format=json')
            .then(response => (this.print_content = response.data))
        }
    }
})
</script>

<style scoped>
#tiles-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.tiles {
    width: 50%;
    max-width: 400px;
    margin: auto;
}

.font {
    background-color: #0A1AB9;
    color: #fff;
}

#native-tiles {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 850px;
}

.native-tile {
    width: 45%;
    min-height: 150px;
    margin: 5px;
}
.display {
    background: url('../assets/images/zeitung-print.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.advertorial {
    background: url('../assets/images/advertorial-print.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
</style>