<template>
    <div>
        <div class="stage">
            <div class="container">
                <div class="stage__text">
                    <h1><span class="underline">{{ privacy_content.headword }}</span></h1>
                </div>
                <img class="stage__image" v-if="privacy_content.image_url" v-bind:src="'https://backend.sportplatz-media.com/media/original_images/' + privacy_content.image_url" />
            </div>
        </div>
    </div>

    <div id="container">
        <div class="container">
            <div class="grid justify-center">
                <div class="col-lg-8 col-bleed-y">
                    <div class="newsDetail">
                        <!--<div class="newsDetail__head">
                            <h1>{{ privacy_content.title }}</h1>
                        </div>-->
                        <div class="newsDetail__content">
                            <p v-html="privacy_content.body"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { defineComponent } from "@vue/runtime-core";
import axios from "axios";

export default defineComponent({
    name: 'PrivacyView',
    data() {
        return {
            privacy_content: []
        }
    },
    mounted() {
        this.init()
    },
    methods: {
        init() {
            axios.get('https://backend.sportplatz-media.com/api/v2/pages/14/?format=json')
            .then(response => {
                this.privacy_content = response.data
                this.replaceAnchorLinksWithCMPScript()
            })
        },
        replaceAnchorLinksWithCMPScript() {
            if (this.privacy_content.body) {
                let regex = /href="#(.*?)"/gi;
                this.privacy_content.body = this.privacy_content.body.replace(regex, 'href="$1"');;
            }
        }
    }
})
</script>
<style scoped>
#container {
    width: 100%;
    max-width: 1250px;
    margin: auto;
    text-align: left;
}
</style>