<template>
    <div class="stage">
        <div class="container">
            <div class="stage__text">
                <h1 v-if="publisher_tiles.header_text">
                    <span v-html="whenITagIsPresentAndUnderlineClass(publisher_tiles.header_text)"></span>
                    <HeaderCTA v-if="header_cta" :header_cta="header_cta" />
                </h1>
            </div>
            <img class="stage__image" v-if="publisher_tiles.image_url" v-bind:src="'https://backend.sportplatz-media.com/media/original_images/' + publisher_tiles.image_url" />
        </div>
    </div>

    <MarketingHeader active="for-publisher"></MarketingHeader>

    <div class="container">
        <div class="grid">
            <div class="col-12">

                <div class="pageIntro">
                    <span>Spezialisiert・Professionell・Crossmedial ・100 % Sport</span>
                    <h2>Die optimale Monetarisierung von Sportreichweiten!</h2>
                    <p>{{ removeHTML(publisher_tiles.body) }}</p>
                </div>

            </div>

            <div class="col-md-12 col-lg-10 offset-lg-1">
                <div class="contentBlock">
                    <BlogPageTile v-bind:tiles="this.publisher_tiles"></BlogPageTile>
                </div>
            </div>
        </div>
    </div>

    <div class="advantages">
        <div class="container">
            <div class="grid">
                <div class="col-12">

                    <div class="advantages__text">
                        <div class="grid">
                            <div class="col-sm-5">
                                <div class="advantages__title">
                                    Vorteile<br>als Partner.
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <p>Wir legen größten Wert auf eine aktive Zusammenarbeit und betrachten alle relevanten Komponenten. 
                                   Dazu gehören individuelle Vertagungspläne, CMP-Optimierungen, laufende Optimierungsroutinen und neben einem modernen programmatischen Setup, 
                                   eine „echte“ auf Langfristigkeit ausgelegte Premiumvermarktung.</p>
                            </div>
                        </div>
                    </div>
                    <ul class="advantages__content">
                        <li>Optimale Monetarisierung</li>
                        <li>Marktführende Technologien</li>
                        <li>Individuelle Betreuung</li>
                        <li>Professionelles Projektmanagement</li>
                        <li>Transparentes Reporting</li>
                        <li>Zeitnahe Abrechnung & Gutschrift</li>
                        <li>Individuelle Werbeformen</li>
                        <li>Eigenvermarktung möglich</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <CustomerVoice v-bind:voices="this.customer_voice" :headline="'Das sagen unsere Partner'"></CustomerVoice>

    <div class="head-contact-con">
        <h3 class="head-contact" style="margin: 0px auto;">Ansprechpartner</h3>
    </div>

    <ContactPerson v-bind:contact_person="contact_person" ></ContactPerson>

</template>

<script>
import { defineComponent, reactive } from 'vue'
import axios from 'axios'
import MarketingHeader from '@/components/MarketingHeader.vue'
import ContactPerson from '@/components/ContactPerson.vue'
import BlogPageTile from '@/components/BlogPageTile.vue'
import CustomerVoice from '@/components/CustomerVoice.vue'
import { useHead } from '@vueuse/head'
import HeaderCTA from '@/components/HeaderCTA.vue'

export default defineComponent({
    name: 'PublisherView',
    components: { MarketingHeader, ContactPerson, BlogPageTile, CustomerVoice, HeaderCTA },
    setup() {
        const metaData = reactive({
            title: 'Sports Media Network für Publisher',
            description: 'Erziele mit uns die optimale Monetarisierung deiner Sportreichweiten. Komm in unser Medien-Netzwerk.'
        })
        useHead({
            title: metaData.title,
            meta: [
                {
                    name: `description`,
                    content: metaData.description
                },
                {
                    name: `description`,
                    property: `og:description`,
                    content: metaData.description
                },
                {
                    property: `og:image`,
                    content: 'https://sportplatz-media.com/assets/meta/Publisher_Meta-Vorschau_1200x628.jpg'
                }
            ]
        })  
    },
    data() {
        return {
            contact_person: [],
            publisher_tiles: [],
            customer_voice: [],
            header_cta: null,
        }
    },
    mounted() {
        this.init()
        this.checkActiveHeaderLink()
    },
    methods: {
        init() {
            axios.get('https://backend.sportplatz-media.com/api/v2/pages/7/?format=json')
            .then(response => {
              this.publisher_tiles = response.data
              if (this.publisher_tiles.header_cta.length > 0) {
                this.publisher_tiles.header_cta.forEach(element => {
                  if (this.header_cta == null) {
                    this.header_cta = {};
                  }

                  if (element.type == 'cta_link') {
                    this.header_cta["cta_link"] = element.value;
                  } else if (element.type == 'cta_text') {
                    this.header_cta["cta_text"] = element.value;
                  } else if (element.type == 'cta_styles') {
                    this.header_cta["cta_styles"] = element.value;
                    this.header_cta["cta_styles"].custom_css = this.removeParagraphTagsFromString(this.header_cta["cta_styles"].custom_css);
                  } else if (element.type == 'cta_target_blank') {
                    this.header_cta["cta_target"] = element.value;
                  }
                })
              }

              this.addCustomStyleElement();
            })

            axios.get('https://backend.sportplatz-media.com/api/v2/contacts/2/?format=json')
            .then(response => (this.contact_person = response.data))

            axios.get('https://backend.sportplatz-media.com/api/v2/pages/?child_of=28&type=home.HomePage&headword=Publisher&fields=body,image&order=-id&limit=3')
            .then(response => (this.customer_voice = response.data))
        },
        removeHTML(el) {
            var tmp = document.createElement("div");
            tmp.innerHTML = el;
            return tmp.textContent || tmp.innerText || "";
        },
        removeParagraphTagsFromString(text) {
          return text.replace(/<\/?p[^>]*>/g, "");
        },
        checkActiveHeaderLink() {
            var links = document.getElementsByClassName('header__link');
            links.item(0).classList += ' header__link--active';
        },
        whenITagIsPresentAndUnderlineClass(text) {
            // here replace all <i> tags with <span> and add class underline
            let tmp_string = text.replace(/<i>/g, "<span class='underline'>");
            tmp_string = tmp_string.replace(/<\/i>/g, "</span>");
            return tmp_string;
        },
        addCustomStyleElement() {
          if (!this.header_cta) {
            return
          }
          let style = document.createElement('style');
          style.type = 'text/css';
          
          if (this.header_cta.cta_styles.custom_css.includes(':hover')) {
            const hoverContentMatch = this.header_cta.cta_styles.custom_css.match(/:hover\s*{([^}]+)}/);
            const hoverContent = hoverContentMatch[1].trim();
            style.innerHTML = '#header_cta {' + this.header_cta.cta_styles.custom_css.replace(hoverContentMatch[0], '') + ' } #header_cta:hover { ' + hoverContent + ' }';
          } else {
            style.innerHTML = '#header_cta { ' + this.header_cta.cta_styles.custom_css + ' }';
          }

          document.getElementsByTagName('head')[0].appendChild(style);
        }
    }
})
</script>

<style lang="scss">
    .advantages {
        padding: 80px 0;
        background: $colorBgGrey;
        box-shadow: inset 0 1px 0 0 rgba($colorBlack, .08);

        @media (min-width: $breakpoint-sm) {
            padding: 140px 0 116px;
        }

        &__text {
            display: flex;
            align-items: center;
        }

        &__title {
            font-size: 40px;
            line-height: 40px;
            font-weight: 700;
            color: $colorBlack;

            @media (min-width: $breakpoint-sm) {
                font-size: 56px;
                line-height: 58px;
            }
        }

        p {
            font-size: 17px;
            line-height: 28px;
            letter-spacing: -0.37px;
            color: $colorBlack;
            margin: 0;

            @media (min-width: $breakpoint-sm) {
                font-size: 20px;
                line-height: 36px;
                letter-spacing: -0.52px;
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            list-style-type: none;
            padding: 0;
            margin-top: 36px;

            @media (min-width: $breakpoint-sm) {
                margin-top: 82px;
            }

            li {
                position: relative;
                font-size: 20px;
                line-height: 28px;
                color: $colorBlack;
                font-weight: 700;
                width: 100%;
                padding: 13px 0 13px 44px;

                @media (min-width: $breakpoint-sm) {
                    padding: 28px 0 28px 72px;
                }

                @media (min-width: $breakpoint-md) {
                    width: calc((100% - 48px) / 2);
                    font-size: 22px;
                    line-height: 28px;
                    padding: 28px 0 28px 62px;
                }

                @media (min-width: $breakpoint-lg) {
                    font-size: 24px;
                    line-height: 32px;
                    padding: 28px 0 28px 72px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    left: -3px;
                    top: 7px;
                    width: 36px;
                    height: 36px;
                    background: url('@/assets/images/ic_advantages_bullet.svg');
                    background-size: cover;

                    @media (min-width: $breakpoint-sm) {
                        width: 60px;
                        height: 60px;
                        top: 13px;
                    }

                    @media (min-width: $breakpoint-md) {
                        width: 52px;
                        height: 52px;
                        top: 15px;
                    }

                    @media (min-width: $breakpoint-lg) {
                        width: 60px;
                        height: 60px;
                        top: 13px;
                    }
                }
            }
        }
    }

    // mobile fix @TODO Merten -> breaking line underline
    @media only screen and (max-width: 990px) {
        .underline::before {
            display: none;
        }
    }
</style>