<template>
    <div v-if="main_page" class="stage">
        <div class="container">
            <div class="stage__graphic">
                <img src="../assets/images/resources-graphic.svg">
            </div>
            <div class="stage__text">
                <span>Trendpaper, Studien, u.v.m</span>
                <h1>Kostenfreies Wissen</h1>
                <p>Entdecke detaillierte Informationen zu unserem Vermarktungs- und Software-Angebot sowie spannende Trendpaper, Studien und Best Cases - sofort und kostenfrei als PDF-Download.</p>
            </div>
        </div>
    </div>

    <div class="subnav">
        <div class="container">
            <ul>
                <li @click="setFilter(null)" :class="null == filterByTag ? 'is-active' : ''">
                    Alle
                </li>
                <li v-for="t, idx in allTags" @click="setFilter(t)" v-bind:key="idx" :class="t == filterByTag ? 'is-active' : ''">
                    {{ t }}
                </li>
            </ul>
        </div>
    </div>
    
    <!-- Resources -->
    <div class="container">
        <div class="grid">
            <div class="col-12 col-bleed-y">

                <!-- Resource List -->
                <div class="resources__list">

                    <!-- Resource Card-->
                    <div v-for="r in filteredResources" :key="r.id" class="resources__card">
                        <div class="resources__card__badges">
                            <div v-for="t, idx in r.tags"  v-bind:key="idx" class="resources__card__badges__item">
                                {{ t }}
                            </div>
                        </div>
                        <img v-if="r.image" v-bind:src="'https://backend.sportplatz-media.com' + r.image.meta.download_url" />
                        <div class="resources__card__content">
                            <div class="resources__card__headline">
                                {{ r.title }}
                            </div>
                            <div class="resources__card__text">
                                {{ removeHTML(r.description) }}
                            </div>
                            <a type="button" :target="r.target == 2 ? '_blank' : '_self'" :href="r.cta_url" class="button button--small button--fullwidth">
                                <img class="button__icon button__icon--left" src="@/assets/images/ic_20_download.svg">
                                {{ r.cta_text }}
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</template>

<script>
import { defineComponent } from 'vue'
import axios from "axios"
import NewsCard from '../components/NewsCard.vue'
import { useHead } from '@vueuse/head'

export default defineComponent({
    name: 'ResourcesView',
    components: {
        NewsCard
    },
    setup() {
        useHead({
            meta: [
                {
                    property: `og:image`,
                    content: 'https://sportplatz-media.com/assets/meta/Ressorcen_Meta-Vorschau_1200x628.jpg'
                },
                {
                    property: `og:title`,
                    content: 'Ressourcen - Kostenfreies Wissen'
                },
                {
                    property: `og:description`,
                    content: 'Entdecke detaillierte Informationen zu unserem Vermarktungs- und Software-Angebot sowie spannende Trendpaper, Studien und Best Cases.'
                }
            ]
        })
    },
    data() {
        return {
            resources: [],
            main_page: null,
            filterByTag: null,
        }
    },
    methods: {
        init() {
            let main_page_id;
            axios.get('https://backend.sportplatz-media.com/api/v2/pages/?slug=ressourcen')
            .then(response => {
                if (response.data && response.data.items) {
                    main_page_id = response.data.items[0].id;
                    axios.get('https://backend.sportplatz-media.com/api/v2/pages/' + main_page_id).then(res => this.main_page = res.data);
                }
            });

            axios.get('https://backend.sportplatz-media.com/api/v2/resources/?limit=1000&order=sortOrder')
            .then(response => this.resources = response.data.items);
        },
        setFilter(f) {
            console.log(f)
            this.filterByTag = f;
        },
        removeHTML(el) {
            var tmp = document.createElement("div");
            tmp.innerHTML = el;
            return tmp.textContent || tmp.innerText || "";
        },
        checkActiveHeaderLink() {
            var links = document.getElementsByClassName('header__link');
            links.item(2).classList += ' header__link--active';

            var check_active = document.getElementsByClassName('header__link--active')
            if (check_active.length == 2) {
                check_active.item(0).classList.remove('header__link--active')
            }
        }
    },
    computed: {
        filteredResources() {
            if (this.filterByTag == null) {
                return this.resources;
            }
            let result = [];
            this.resources.forEach(r => {
                if (r.tags.includes(this.filterByTag)) {
                    result.push(r);
                }
            });
            return result;
        },
        allTags() {
            if (!this.resources) { return []; }
            let tags = new Set();
            this.resources.forEach(r => {
                r.tags.forEach(t => {
                    tags.add(t);
                })
            });
            return tags;
        }
    },
    mounted() {
        this.init();
        this.checkActiveHeaderLink();
    }
})
</script>

<style lang="scss" scoped>

.stage {

    .container {
        display: flex;
        flex-direction: column;
        padding-top: 80px;

        @media (min-width: $breakpoint-sm) {
            flex-direction: row;
            padding-top: 176px; 
        }
    }

    &__graphic {

        @media (max-width: $breakpoint-sm) {
            position: relative;
            height: 320px;
            overflow: hidden;
            margin-bottom: -160px;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(180deg, rgba($colorBlack, 0) 0%, rgba($colorBlack, .9) 50%, $colorBlack 100%);
            }
        }

        @media (min-width: $breakpoint-sm) {
            position: relative;
            margin-right: 48px;
        }

        @media (min-width: $breakpoint-md) {
            margin-right: 96px;
        }

        img {
            display: flex;
            width: 80%;
            max-width: 500px;

            @media (min-width: $breakpoint-sm) {
                width: 280px;
            }

            @media (min-width: $breakpoint-md) {
                width: auto;
            }
        }
    }

    &__text {
        text-align: left;
        padding-top: 48px;
        padding-bottom: 40px;
        max-width: 580px;

        @media (min-width: $breakpoint-sm) {
            padding-bottom: 0;
        }

        h1 {
            color: $colorWhite;
            margin: 8px 0;
            font-size: 40px;
            line-height: 44px;

            @media (min-width: $breakpoint-sm) {
                margin: 14px 0 26px 0;
                font-size: 48px;
                line-height: 56px;
            }

            @media (min-width: $breakpoint-md) {
                font-size: 72px;
                line-height: 80px;
            }
        }

        p {
            font-size: 17px;
            line-height: 24px;
            letter-spacing: -0.28px;
            color: $colorWhite;

            @media (min-width: $breakpoint-md) {
                font-size: 20px;
                line-height: 36px;
                letter-spacing: -0.52px;
            }
        }

        span {
            color: $colorHighlight;
            font-weight: 500;
            font-size: 14px;

            @media (min-width: $breakpoint-sm) {
                font-weight: 600;
                font-size: 17px;
            }
        }
    }
}

.resources {

    &__list {
        margin: 64px 0;

        @media (min-width: $breakpoint-sm) {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            margin: 96px 0 80px;
        }
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        background: rgba($colorBlack, .04);
        overflow: hidden;
        transition: all .2s ease-in-out;

        &:hover {
            background: rgba($colorBlack, .06);
        }

        &:not(:last-child) {
            margin-bottom: 20px;

            @media (min-width: $breakpoint-sm) {
                margin-bottom: 0;
            }
        }

        @media (min-width: $breakpoint-sm) {
            width: calc((100% - 80px) / 3);
        }

        > img {
            width: 100%;
            object-fit: contain;
            margin-top: -24px;
            margin-bottom: -48px;
        }

        &__badges {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            padding: 20px;

            &__item {
                background: rgba($colorBlack, .08);
                border-radius: 3px;
                font-size: 11px;
                font-weight: 700;
                text-transform: uppercase;
                color: rgba($colorBlack, .48);
                padding: 6px 8px 5px;

                &:not(:last-child) {
                    margin-right: 8px;
                } 
            }
        }

        &__content {
            padding: 0 20px 20px;
        }

        &__headline {
            font-size: 16px;
            font-weight: 700;
            color: $colorBlack;
            margin-bottom: 7px;
        }

        &__text {
            font-size: 14px;
            line-height: 20px;
            color: rgba($colorBlack, .64);
            margin-bottom: 26px;
        }
    }
}
</style>