<template>
    <div class="stage">
        <div class="container">
            <div class="stage__text">
                <h1 v-if="software_tiles.header_text">
                    <span v-html="whenITagIsPresentAndUnderlineClass(software_tiles.header_text)">
                    </span>
                    <HeaderCTA v-if="header_cta" :header_cta="header_cta" />
                </h1>
            </div>
            <img class="stage__image" v-if="software_tiles.image_url" v-bind:src="'https://backend.sportplatz-media.com/media/original_images/' + software_tiles.image_url" />
        </div>
    </div>

    <div class="container">
        <div class="grid">
            <div class="col-12">

                <div class="pageIntro">
                    <span>Für Publisher, Verlage & Verbände</span>
                    <h2>Digitale Lösungen für Sportreichweiten</h2>
                    <p>{{ removeHTML(software_tiles.body) }}</p>
                </div>

            </div>

            <div class="col-md-12 col-lg-10 offset-lg-1">
                <div class="contentBlock">
                    <BlogPageTile v-bind:tiles="this.software_tiles"></BlogPageTile>
                </div>
            </div>

        </div>
    </div>

    <SoftwareCase :software_case="this.software_case"></SoftwareCase>

    <ProductBar></ProductBar>

    <CustomerVoice v-bind:voices="this.customer_voice" :headline="'Das sagen unsere Kunden'"></CustomerVoice>

    <div class="head-contact-con">
        <h3 class="head-contact" style="margin: 0px auto;">Ansprechpartner</h3>
    </div>

    <ContactPerson v-bind:contact_person="this.contact_person"></ContactPerson>

</template>

<script>
import { defineComponent, reactive } from 'vue'
import axios from 'axios';
import BlogPageTile from '../components/BlogPageTile.vue'
import ContactPerson from '../components/ContactPerson.vue'
import CustomerVoice from '../components/CustomerVoice.vue'
import ProductBar from '../components/ProductBar.vue'
import SoftwareCase from '../components/SoftwareCase.vue'
import { useHead } from '@vueuse/head'
import HeaderCTA from '@/components/HeaderCTA.vue'

export default defineComponent({
    name: 'SoftwareView',
    components: { BlogPageTile, ContactPerson, CustomerVoice, ProductBar, SoftwareCase, HeaderCTA },
    setup() {
        const metaData = reactive({
            title: 'Softwareentwicklung',
            description: 'Wir sind seit über zehn Jahren Softwareentwickler und Innovationstreiber für digitale Lösungen im Sport. Mit klarem Fokus auf die Herausforderungen digitaler Sportprojekte schaffen wir einzigartige Mehrwerte für User und Publisher.'
        })
        useHead({
            title: metaData.title,
            meta: [
                {
                    name: `description`,
                    content: metaData.description
                },
                {
                    property: `og:description`,
                    content: metaData.description
                },
                {
                    property: `og:image`,
                    content: 'https://sportplatz-media.com/assets/meta/Software_Meta-Vorschau_1200x628.jpg'
                }
            ]
        })
    },
    data() {
        return {
            software_tiles: [],
            contact_person: [],
            customer_voice: [],
            software_case: [],
            header_cta: null,
        }
    },
    mounted() {
        this.init();
        this.checkActiveHeaderLink();
    },
    methods: {
        init() {
            axios.get('https://backend.sportplatz-media.com/api/v2/pages/5/?format=json')
            .then(response => {
              this.software_tiles = response.data
              if (this.software_tiles.header_cta.length > 0) {
                this.software_tiles.header_cta.forEach(element => {
                    if (this.header_cta == null) {
                      this.header_cta = {};
                    }

                    if (element.type == 'cta_link') {
                      this.header_cta["cta_link"] = element.value;
                    } else if (element.type == 'cta_text') {
                      this.header_cta["cta_text"] = element.value;
                    } else if (element.type == 'cta_styles') {
                      this.header_cta["cta_styles"] = element.value;
                      this.header_cta["cta_styles"].custom_css = this.removeParagraphTagsFromString(this.header_cta["cta_styles"].custom_css);
                    } else if (element.type == 'cta_target_blank') {
                      this.header_cta["cta_target"] = element.value;
                    }
                  });
              }

              // console.log(this.header_cta);
              this.addCustomStyleElement();
            })


            axios.get('https://backend.sportplatz-media.com/api/v2/contacts/3/?format=json')
            .then(response => (this.contact_person = response.data))

            axios.get('https://backend.sportplatz-media.com/api/v2/pages/101/?format=json')
            .then(response => (this.software_case = response.data))

            axios.get('https://backend.sportplatz-media.com/api/v2/pages/?child_of=28&type=home.HomePage&headword=Software&fields=body,image&order=id&limit=4')
            .then(response => (this.customer_voice = response.data))
        },
        removeParagraphTagsFromString(text) {
          return text.replace(/<\/?p[^>]*>/g, "");
        },
        removeHTML(el) {
            var tmp = document.createElement("div");
            tmp.innerHTML = el;
            return tmp.textContent || tmp.innerText || "";
        },
        checkActiveHeaderLink() {
            var links = document.getElementsByClassName('header__link');
            links.item(1).classList += ' header__link--active';

            var check_active = document.getElementsByClassName('header__link--active')
            if (check_active.length == 2) {
                check_active.item(0).classList.remove('header__link--active')
            }
        },
        whenITagIsPresentAndUnderlineClass(text) {
            // here replace all <i> tags with <span> and add class underline
            let tmp_string = text.replace(/<i>/g, "<span class='underline'>");
            tmp_string = tmp_string.replace(/<\/i>/g, "</span>");
            return tmp_string;
        },
        addCustomStyleElement() {
          if (!this.header_cta) {
            return
          }
          let style = document.createElement('style');
          style.type = 'text/css';
          
          if (this.header_cta.cta_styles.custom_css.includes(':hover')) {
            const hoverContentMatch = this.header_cta.cta_styles.custom_css.match(/:hover\s*{([^}]+)}/);
            const hoverContent = hoverContentMatch[1].trim();
            style.innerHTML = '#header_cta {' + this.header_cta.cta_styles.custom_css.replace(hoverContentMatch[0], '') + ' } #header_cta:hover { ' + hoverContent + ' }';
          } else {
            style.innerHTML = '#header_cta { ' + this.header_cta.cta_styles.custom_css + ' }';
          }

          document.getElementsByTagName('head')[0].appendChild(style);
        }
    }
})
</script>

<style lang="scss" scoped>
    .contactPerson {
        background: $colorBgGrey;

        &:before {
            background: $colorBgGrey;
        }
    }
</style>