<template>

    <div class="touchPoint">

        <div class="container">
            <div class="touchPoint__content">
                <div class="touchPoint__image">
                    <img v-if="this.best_case.image" :src="'https://backend.sportplatz-media.com' + this.best_case.image.meta.download_url" :alt="this.best_case.image.title">
                </div>
                <div id="modals" class="touchPoint__text">
                    <span>{{ this.best_case.headword }}</span>
                    <h3>{{ body_text }}</h3>
                    <a type="button" class="button hover" :href="link" 
                        target="_blank">
                        <img class="button__icon button__icon--left" src="@/assets/images/ic_24_download.svg">
                        Jetzt sichern
                    </a>
                </div>
            </div>
        </div>

        <img v-if="background_image" class="touchPoint__background" :src="background_image" alt="">
    </div>

</template>

<script>
import axios from 'axios';
import { defineComponent } from 'vue'
export default defineComponent({
    name: 'BestCase',
    props: {
        best_case: {
            type: Object,
        }
    },
    data () {
        return {
            background_image: ''
        }
    },
    computed: {
        body_text() {
            var tmp = document.createElement("div");
            tmp.innerHTML = this.best_case.body;
            return tmp.textContent || tmp.innerText || "";
        },
        link() {
            var tmp = document.createElement("div");
            tmp.innerHTML = this.best_case.body;
            if (tmp.querySelector('a')) {
                return tmp.querySelector('a').href;
            } else {
                return 'https://content.sportplatz-media.com/mediadaten';
            }
        },
        background_image_id() {
            var tmp = document.createElement("div");
            tmp.innerHTML = this.best_case.body;
            if (tmp.querySelector('embed')) {
                var id = tmp.querySelector('embed').id;
                return id;
            } else {
                return -1;
            }
        },
    },
    watch: {
        background_image_id: function (val) {
            if (val != -1) {
                axios.get('https://backend.sportplatz-media.com/api/v2/images/' + val + '/?format=json')
                    .then(response => {
                        this.background_image = 'https://backend.sportplatz-media.com' + response.data.meta.download_url;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            }
        }
    },
})
</script>