<template>
    <div class="contentBlock__item" v-bind:class="!tile.position_left ? 'contentBlock__item--reverse' : ''" v-for="tile in tiles.related_tiles" :key="tile.id">
        <div class="contentBlock__item__softwareimage" v-if="tile.image_tile && tiles.title != 'Software' && tiles.title != 'Für Publisher'">
            <img v-bind:src="'https://backend.sportplatz-media.com' + tile.image_tile.meta.download_url" />
        </div>
        <!-- Software without border -->
        <div class="contentBlock__item__softwareimage" v-else-if="tile.image_tile && tiles.title === 'Software'">
            <img v-bind:src="'https://backend.sportplatz-media.com' + tile.image_tile.meta.download_url" />
        </div>
        <!-- publisher without border -->
        <div class="contentBlock__item__softwareimage" v-else-if="tile.image_tile && tiles.title === 'Für Publisher'">
            <img v-bind:src="'https://backend.sportplatz-media.com' + tile.image_tile.meta.download_url" />
        </div>

        <div class="contentBlock__item__text">
            <span v-html="tile.subhead_tile"></span>
            <h3 v-html="tile.title_tile"></h3>
            <div v-html="tile.body_tile"></div>
            <a v-if="tile.url_tile" v-bind:href="tile.url_tile">{{ tile.url_tile }}</a>
            <!-- FOR HOMEPAGE -->
            <div v-if="tile.id === 20" class="contentBlock__item__text__buttons" >
                <router-link class="button button--more hover" to="/vermarktung/advertiser">
                  <span class="hidden-xs-down">Für&nbsp;</span>Advertiser
                </router-link>
                <router-link class="button button--more hover" to="/vermarktung/publisher">
                  <span class="hidden-xs-down">Für&nbsp;</span>Publisher
                </router-link>
            </div>
            <div v-if="tile.id === 21" >
                <router-link class="button button--more hover" to="/software">Mehr erfahren</router-link>
            </div>
            <!-- FOR ADVERTISER TILES --> 
            <!--
            <div v-if="tile.id === 19">
                <router-link class="button button--more" to="">Coming soon</router-link>
            </div> 
            -->
            <!--
            <div v-if="tile.id === 16 || tile.id === 22">
                <router-link class="button button--more" to="">Mehr erfahren</router-link>
            </div> 
            -->

            <!-- CTA FROM BACKEND -->
            <div v-if="cta[tile.id]">
              <a
                  v-if="cta[tile.id].styles.arrow"
                  :id="'custom-cta-' + tile.id"
                  :style="'color: ' + cta[tile.id].styles.color +'; background-color: ' + cta[tile.id].styles.bg_color + ';'"
                  :target="cta[tile.id].target ? '_blank' : '_self'"
                  class="button button--more hover" :href="cta[tile.id].link">
                {{ cta[tile.id].text }}
              </a>
              <a v-else
                 :id="'custom-cta-' + tile.id"
                 :style="'color: ' + cta[tile.id].styles.color +'; background-color: ' + cta[tile.id].styles.bg_color + ';'"
                 :target="cta[tile.id].target ? '_blank' : '_self'"
                 class="button hover" :href="cta[tile.id].link">
                {{ cta[tile.id].text }}
              </a>
            </div>
        </div>
    </div>
</template>

<script setup>
import { onUpdated, ref, watch } from "vue";

let cta = ref({});

// methods
let addCustomStyleElement = (cta, tile_id) => {
    let style = document.createElement('style');
    style.type = 'text/css';
    // here check if cta.styles.custom_css contains :hover and add :hover to the class
    if (cta.styles.custom_css.includes(':hover')) {
        const hoverContentMatch = cta.styles.custom_css.match(/:hover\s*{([^}]+)}/);
        const hoverContent = hoverContentMatch[1].trim();
        style.innerHTML = '.custom-cta-' + tile_id + ' { \n' + cta.styles.custom_css.replace(hoverContentMatch[0], '') + ' \n } \n .custom-cta-' + tile_id + ':hover { \n' + hoverContent + ' \n }';
    } else {
        style.innerHTML = '.custom-cta-' + tile_id + '{' + cta.styles.custom_css + '}';
    }
    document.getElementsByTagName('head')[0].appendChild(style);
    document.getElementById('custom-cta-' + tile_id).classList.add('custom-cta-' + tile_id);
};
let removeParagraphTagsFromString = (text) => {
    return text.replace(/<\/?p[^>]*>/g, "");
};

let extraCallToAction = () => {
    if (props.tiles.related_tiles.length > 0) {
        props.tiles.related_tiles.forEach((element) => {
          if (element.cta.length > 0) {
            let temp_obj = {};
            element.cta.forEach((cta) => {
              if (cta.type === 'cta_link') {
                temp_obj["link"] = cta.value;
              } else if (cta.type === 'cta_text') {
                temp_obj["text"] = cta.value;
              } else if (cta.type === 'cta_styles') {
                temp_obj["styles"] = cta.value;
              } else if (cta.type === 'cta_target_blank') {
                temp_obj["target"] = cta.value;
              }
            });

            if (temp_obj["styles"] && temp_obj["styles"].custom_css) {
                temp_obj["styles"].custom_css = removeParagraphTagsFromString(temp_obj["styles"].custom_css);
            }

            cta.value[element.id] = temp_obj;
          }
        })
    }
};

const props = defineProps({
    tiles: {
        type: Object,
        default: () => {}
    }
});

watch(() => props.tiles, () => {
    extraCallToAction();
});

onUpdated(() => {
    if (cta.value) {
        Object.keys(cta.value).forEach((key) => {
            if (cta.value[key].styles && cta.value[key].styles.custom_css) {
                addCustomStyleElement(cta.value[key], key);
            }
        });
    }
});

</script>

<style lang="scss">
    .contentBlock {
        margin: 96px 0;

        @media (min-width: $breakpoint-sm) {
            margin: 120px 0;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            margin: 64px 0;
            flex-direction: column;

            @media (min-width: $breakpoint-sm) {
                flex-direction: row;
                margin: 140px 0;

                &--reverse {
                    flex-direction: row-reverse;
                }
            }

            &__image {
                position: relative;
                height: 300px;
                margin-bottom: 30px;

                @media (min-width: $breakpoint-sm) {
                    width: 36%;
                    height: inherit;
                    min-height: 320px;
                    margin-bottom: 0;
                }

                @media (min-width: $breakpoint-lg) {
                    width: 40%;
                    min-height: 360px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: 10px;
                    left: 10px;
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                    box-shadow: inset 0 0 0 2px $colorBlack;

                    @media (min-width: $breakpoint-sm) {
                        border-radius: 14px;
                        top: 16px;
                        left: 16px;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;

                    @media (min-width: $breakpoint-sm) {
                        border-radius: 16px;
                    }
                }
            }
            
            &__softwareimage {
                position: relative;
                height: 300px;
                margin-bottom: 30px;

                @media (max-width: $breakpoint-xs) {
                    height: 350px;
                }

                @media (min-width: $breakpoint-sm) {
                    width: 36%;
                    height: inherit;
                    min-height: 320px;
                    margin-bottom: 0;
                }

                @media (min-width: $breakpoint-lg) {
                    width: 40%;
                    min-height: 360px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: 10px;
                    left: 10px;
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                    // box-shadow: inset 0 0 0 2px $colorBlack;

                    @media (min-width: $breakpoint-sm) {
                        border-radius: 14px;
                        top: 16px;
                        left: 16px;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;

                    @media (min-width: $breakpoint-sm) {
                        border-radius: 16px;
                    }
                }
            }

            &__text {
                display: flex;
                justify-content: center;
                flex-direction: column;
                letter-spacing: 0;

                @media (min-width: $breakpoint-sm) {
                    width: calc(64% - 64px);
                }

                @media (min-width: $breakpoint-lg) {
                    width: calc(60% - 96px);

                    .contentBlock__item--reverse & {
                        width: calc(60% - 64px);
                    }
                }

                > span {
                    font-size: 14px;
                    font-weight: 600;
                    font-family: $fontSecondary;
                    letter-spacing: -0.24px;
                    color: rgba($colorBlack, .64);
                    margin: 7px 0 1px 0;

                    @media (min-width: $breakpoint-sm) {
                        font-size: 17px;
                        letter-spacing: -0.36px;
                        margin: 0 0 -5px 0;
                    }
                }

                h3 {
                    margin: 8px 0;

                    @media (min-width: $breakpoint-sm) {
                        margin: 12px 0;
                    }
                }

                p {
                    margin: 8px 0;
                    font-size: 14px;
                    line-height: 24px;

                    @media (min-width: $breakpoint-sm) {
                        margin: 12px 0;
                        font-size: 17px;
                        line-height: 32px;
                    }
                }

                ul {
                    font-size: 14px;
                    line-height: 24px;
                    font-family: $fontSecondary;
                    color: rgba($colorBlack, .48);
                    padding: 0 0 0 20px;

                    @media (min-width: $breakpoint-sm) {
                        margin: 12px 0;
                        font-size: 17px;
                        line-height: 32px;
                    }
                }

                &__buttons {
                    display: flex;
                }

                .button {
                    margin-top: 12px;
                    margin-right: 12px;
                    margin-bottom: 90px;

                    @media (min-width: $breakpoint-sm) {
                        margin-top: 26px;
                        margin-right: 16px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
</style>