<template>
    <div class="container">
        <div class="grid">
            <div class="col-12">

                <div class="clients">
                    <div class="clients__text">
                        <div class="grid">
                            <div class="col-sm-5">
                                <div class="clients__title">
                                    <img src="@/assets/images/sportsmedianetwork_logo_400x160.svg" width="300" alt="" />
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <p>Das SPM Sports Media Network verbindet mit über 70 Medien, Apps und Plattformen, deine Marken mit der attraktiven Zielgruppe der aktiven Sportler:innen, Vereine und Fans.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clients__logos">
                        <img src="@/assets/images/logos/fussballde.png" alt="">
                        <!--<img src="@/assets/images/logos/handball.png" alt="">-->
                        <img src="@/assets/images/logos/spielerplus.png" alt="">
                        <img src="@/assets/images/logos/kickbase.webp" alt="">
                        <img src="@/assets/images/logos/HBF_ohne_Claim_RGB.png" alt="">
                        <img src="@/assets/images/logos/BBDE_LOGO2015_RGB.png" alt="" />
                        <div class="clients__logos__more">
                            + 70 Sport-Medien
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import { defineComponent } from 'vue'
export default defineComponent({
    name: 'Clients',
})
</script>

<style lang="scss">
    .clients {
        margin: 80px 0;

        @media (min-width: $breakpoint-sm) {
            margin: 160px 0;
        }

        &__text {
            display: flex;
            align-items: center;
        }

        &__title {
            font-size: 40px;
            line-height: 40px;
            font-weight: 700;
            color: $colorBlack;

            @media (min-width: $breakpoint-sm) {
                font-size: 56px;
                line-height: 58px;
            }
        }

        p {
            font-size: 17px;
            line-height: 28px;
            letter-spacing: -0.37px;
            color: $colorBlack;
            margin: 0;

            @media (min-width: $breakpoint-sm) {
                font-size: 20px;
                line-height: 36px;
                letter-spacing: -0.52px;
            }
        }

        &__logos {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            margin-top: 40px;

            @media (min-width: $breakpoint-sm) {
                justify-content: space-between;
                margin-top: 80px;
            }

            img {
                margin-bottom: 24px;
                max-height: 48px;
                margin-right: 24px;

                @media (min-width: $breakpoint-sm) {
                    margin-bottom: 0;
                    margin-right: inherit;
                    max-height: 56px;
                }

                @media (min-width: $breakpoint-lg) {
                    max-height: 64px;
                }
            }

            &__more {
                font-size: 17px;
                font-weight: 500;
                color: rgba($colorBlack, .48);
                box-shadow: inset 0 1px 0 0 rgba($colorBlack, .08);
                width: 100%;
                padding-top: 20px;
                margin-top: -8px;

                @media (min-width: $breakpoint-sm) {
                    font-size: 20px;
                    font-weight: 600;
                    box-shadow: none;
                    margin-top: 32px;
                    padding: 0;
                    text-align: center;
                }

                @media (min-width: $breakpoint-md) {
                    width: inherit;
                    text-align: inherit;
                    margin-top: 0;
                }
            }
        }
    }
</style>