<template>
    <div class="contactPerson">
        <div class="container">
            <div class="contactPerson__content">
                <div class="contactPerson__image">
                    <img v-if="contact_person.image_url" v-bind:src="'https://backend.sportplatz-media.com/media/original_images/' + contact_person.image_url" />
                </div>
                <div class="contactPerson__title">
                    {{ contact_person.name }}
                </div>
                <div class="contactPerson__name">
                    {{contact_person.position}}<br>
                    <a :href="'tel:' + removeSpacing('' + contact_person.telefon)">{{ contact_person.telefon }}</a>
                </div>
                <div class="contactPerson__buttons">
                    <div v-if="contact_person.hubspot_form_id != '' ">
                        <button class="button hover" @click="showModal">
                            <img class="button__icon button__icon--left" src="@/assets/images/ic_24_mail.svg">
                            Kontakt
                        </button>
                        <MyModel>
                            <Modal v-model="isShow" :close="closeModal">
                                <HubspotForm :portalId="6645377" :formId="contact_person.hubspot_form_id"></HubspotForm>
                                <button id="close-btn" @click="closeModal"> x </button>
                            </Modal>
                        </MyModel>
                    </div>
                    
                    <div v-else>
                        <a  :href="'mailto:' + contact_person.email" class="button">
                        <img class="button__icon button__icon--left" src="@/assets/images/ic_24_mail.svg">
                        E-Mail senden
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import { defineComponent, ref } from 'vue'
import HubspotForm from './HubspotForm.vue'
export default defineComponent({
    setup() {
        const isShow = ref(null)

        function showModal() {
            isShow.value = true
        }

        function closeModal() {
            isShow.value = false
            // need to remove elements <script> & div when closed
            var scripts = document.getElementsByTagName('script');
            var divs = document.getElementsByTagName('div');
            var index = scripts.length -1;
            var div_index = divs.length -3;
            scripts.item(index).remove();
            divs.item(div_index).remove();
        }

        return {
            isShow,
            showModal,
            closeModal
        }
    },
    name: 'ContactPerson',
    components:{ HubspotForm },
    props: {
        contact_person: Object
    },
    methods: {
        removeSpacing(el) {
            return el.replace(/\s/g, "");
        }
    }
})
</script>

<style lang="scss">
    .contactPerson {
        position: relative;
        padding: 90px 0 96px;
        // box-shadow: inset 0 1px 0 0 rgba($colorBlack,0.08);
        background-color: #FAFAFA;

        @media (min-width: $breakpoint-sm) {
            padding: 106px 0 112px;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            //background-image: linear-gradient(180deg, $colorWhite 0%, $colorBgGrey 100%);
        }

        &__content {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__image {
            position: relative;
            width: 128px;
            height: 128px;
            margin-bottom: 24px;

            @media (min-width: $breakpoint-sm) {
                margin-bottom: 26px;
            }

            &:before {
                content: '';
                position: absolute;
                z-index: 2;
                top: -6px;
                left: -6px;
                height: calc(100% + 12px);
                width: calc(100% + 12px);
                box-shadow: inset 0 0 0 2px $colorBlack;
                border-radius: 50%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        &__title {
            font-size: 28px;
            font-weight: 700;
            line-height: 36px;
            color: $colorBlack;

            @media (min-width: $breakpoint-sm) {
                font-size: 32px;
                line-height: 36px;
            }
        }

        &__name {
            font-size: 17px;
            line-height: 28px;
            letter-spacing: -0.45px;
            color: $colorBlack;
            font-family: $fontSecondary;
            font-weight: 500;
            text-align: center;
            max-width: 400px;

            a {
                color: $colorBlack;
            }
        }

        &__buttons {
            margin-top: 28px;

            @media (min-width: $breakpoint-sm) {
                display: flex;
                margin-top: 39px;
            }

            .button {
                width: 100%;
                margin: 4px 0;
                
                @media (min-width: $breakpoint-sm) {
                    margin: 0 12px;
                    width: inherit;
                }
            }
        }
    }

    .contactPerson__many {
        background: $colorBgGrey;

        .contactPerson {
            box-shadow: none;
        }
    }
</style>