<template>
  <div class="quotes">
        <div class="container">
            <div class="quotes__header">
                <h4 class="hidden-xs-down">{{ headline }}</h4>
                <h4 class="hidden-sm-up">Kundenstimmen</h4>
            </div>
            <div class="quotes__slider">
                <Splide :options="options">
                    <SplideSlide v-for="voice in voices.items" :key="voice.id">
                      <div class="quotes__slider__card">
                        <div class="quotes__slider__card__image" v-if="voice.image">
                            <img v-bind:src="'https://backend.sportplatz-media.com' + voice.image.meta.download_url" />
                        </div>
                        <div class="quotes__slider__card__content">
                          <div class="quotes__slider__card__text" v-html="voice.body">
                          </div>
                          <div class="quotes__slider__card__name">
                             {{ voice.title }}
                          </div>
                        </div>
                      </div>
                    </SplideSlide>
                </Splide>
            </div>
        </div>
    </div>
</template>

<script>
import { defineComponent } from 'vue';
import { Splide, SplideSlide } from '@splidejs/vue-splide';
import '@splidejs/splide/dist/css/splide.min.css';
export default defineComponent({
    name: 'CustomerVoice',
    components: {
        Splide, SplideSlide,
    },
    props: {
        voices: Object,
        headline: String
    },
    data() {
        return {
            options: {
                perPage: 1,
                autoplay: true,
                pagination: true,
                type: 'fade',
                arrows: false,
                rewind: true,
                interval: 10000
            },
        }
    }
})
</script>

<style lang="scss">
  .quotes {
        padding: 32px 0 72px;
        position: relative;

        @media (min-width: $breakpoint-sm) {
            padding: 48px 0 140px;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background-image: linear-gradient(180deg, $colorWhite 0%, $colorBgGrey 100%);
        }

        &__header {
            display: flex;

            h4 {
              margin-bottom: 8px;

                @media (min-width: $breakpoint-sm) {
                    margin-bottom: 16px;
                }
            }

            @media (min-width: $breakpoint-sm) {
                padding: 0;
            }
        }

        &__slider {
            margin: 0 -24px;

            &__card {
                position: relative;
                background: $colorWhite;
                box-shadow: 0 0 16px 0 rgba(0,0,0,0.06);
                width: calc(100% - 48px);
                margin: 24px;
                padding: 20px 20px 28px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                @media (min-width: $breakpoint-sm) {
                  padding: 0;
                  align-items: center;
                  flex-direction: row;
                  padding: 64px;
                }

                &:before {
                  position: absolute;
                  content: '';
                  z-index: -1;
                  top: 16px;
                  left: 16px;
                  width: 100%;
                  height: 100%;
                  background: $colorPrimary;
                }

                &__image {
                  display: flex;
                  flex-shrink: 0;
                  width: 128px;
                  height: 128px;

                  @media (min-width: $breakpoint-sm) {
                    margin: 0 96px 0 32px;
                  }

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                  }
                }

                &__content {
                  display: flex;
                  flex-direction: column;
                }

                &__text {
                  p {
                    color: $colorBlack;

                    @media (min-width: $breakpoint-sm) {
                      font-size: 20px;
                      line-height: 40px;
                      letter-spacing: -0.52px;
                    }
                  }
                }

                &__name {
                  font-size: 14px;
                  line-height: 20px;
                  font-weight: 500;
                  font-family: $fontSecondary;
                  letter-spacing: -0.28px;
                  color: $colorBlack;

                  @media (min-width: $breakpoint-sm) {
                    font-size: 17px;
                    line-height: 28px;
                    letter-spacing: -0.45px;
                    color: rgba($colorBlack, .48);
                  }
                }
            }

            .splide__pagination {
                bottom: -24px;

                button {
                    background: rgba($colorBlack,.24);

                    &.is-active {
                        background: $colorBlack;
                        transform: none;
                    }
                }
            }
        }
    }

    .splide__pagination__page {
      width: 10px!important;
      height: 10px!important;
    }
</style>