<template>
    <footer class="footer">
        <div class="container">
            <div class="grid">
                <div class="col-sm-4">
                    <div class="footer__contact">
                        <router-link to="/">
                            <img src="@/assets/images/logo-blue-short.svg" alt="SportplatzMedia Logo" class="footer__logo">
                        </router-link>
                        <div class="footer__contact__item">
                            <img src="@/assets/images/ic_16_location.svg" alt="Anschrift">
                            <a href="https://goo.gl/maps/ckNg8bapXzkrkKY78" target="_blank">Schleidenstraße 3・22083 Hamburg</a>
                        </div>
                        <div class="footer__contact__item">
                            <img src="@/assets/images/ic_16_mail.svg" alt="E-Mail-Adresse">
                            <a href="mailto:info@sportplatz-media.com">info@sportplatz-media.com</a>
                        </div>
                        <div class="footer__contact__item">
                            <img src="@/assets/images/ic_16_phone.svg" alt="Telefon">
                            <a href="tel:+4940537986320"> +49 (0) 40 537 98 63 20</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="footer__content">
                        <ul>
                            <li>Unternehmen</li>
                            <li><router-link to="/jobs">Jobs</router-link></li>
                            <li><router-link to="/kontakt">Kontakt</router-link></li>
                        </ul>
                        <ul>
                            <li>Brands</li>
                            <li><a href="https://www.spielerplus.de/" target="_blank" rel="noopener noreferrer">SpielerPlus</a></li>
                            <li><a href="https://sportlerplus.com/landingpage" target="_blank" rel="noopener noreferrer">SportlerPlus</a></li>
                            <li><a href="https://teamtip.net/" target="_blank" rel="noopener noreferrer">TEAMTIP</a></li>
                            <!--<li><a href="https://meinsponsor.de/" target="_blank" rel="noopener noreferrer">MeinSponsor</a></li>-->
                            <!--<li><a href="https://www.fussball-crowd.de/" target="_blank" rel="noopener noreferrer">Fussball Crowd</a></li>-->
                        </ul>
                        <ul>
                            <li>Social</li>
                            <li><a href="https://www.facebook.com/SPORTPLATZMEDIA/" target="_blank" rel="noopener noreferrer">Facebook</a></li>
                            <li><a href="https://www.linkedin.com/company/spm-sportplatz-media-gmbh/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
                        </ul>
                        <ul>
                            <li>Legals</li>
                            <li><router-link to="/impressum">Impressum</router-link></li>
                            <li><router-link to="/datenschutz">Datenschutz</router-link></li>
                            <li><a href="https://backend.sportplatz-media.com/documents/3/AGB_Media_SPM_05_2022.pdf" target="_blank" rel="noopener noreferrer">AGB Media</a></li>
                            <li><a href="https://backend.sportplatz-media.com/documents/4/AGB_Software_SPM_05_2022.pdf" target="_blank" rel="noopener noreferrer">AGB Software</a></li>
                            <li><a href="javascript:(()=>{__cmp('showGDPRScreenAdvanced')})();">Cookie Settings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
import { defineComponent } from 'vue'
export default defineComponent({
    name: 'Footer'
})
</script>

<style lang="scss">
    .footer {
        background: $colorBgGrey;
        background: #FAFAFA;
        box-shadow: inset 0 1px 0 0 rgba($colorBlack, .08);
        padding: 50px 0 40px;

        &__logo {
            max-width: 90px;
            margin-bottom: 10px;
        }

        &__contact {
            font-size: 14px;
            letter-spacing: -0.37px;
            font-family: $fontSecondary;

            &__item {
                display: flex;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }

                a {
                    position: relative;
                    color: $colorBlack;
                    text-decoration: none;
                    padding: 4px 0;
                    margin-left: 8px;

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 3px;
                        left: 0;
                        width: 100%;
                        height: 1.5px;
                        background: rgba($colorBlack, .08);
                        transition: all .4s ease-in-out;
                    }
                }

                &:hover {
                    a:before {
                        background: rgba($colorBlack, .24);
                    }
                }
            }
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            margin-top: 16px;

            ul {
                list-style-type: none;
                padding: 0;
                width: 50%;

                @media (min-width: $breakpoint-sm) {
                    margin: 0 80px 0 0;
                    width: inherit;
                }

                li {
                    font-size: 14px;
                    line-height: 30px;
                    letter-spacing: -0.37px;
                    font-family: $fontSecondary;
                    color: rgba($colorBlack, .48);

                    &:first-of-type {
                        margin-bottom: 3px;
                    }

                    a {
                        position: relative;
                        font-weight: 500;
                        text-decoration: none;
                        color: $colorBlack;

                        &:before {
                            content: '';
                            position: absolute;
                            bottom: -3px;
                            left: 0;
                            width: 100%;
                            height: 1.5px;
                            background: rgba($colorBlack, 0);
                            transition: all .4s ease-in-out;
                        }

                        &:hover {
                            &:before {
                                background: rgba($colorBlack, .08);
                            }
                        }
                    }
                }
            }
        }
    }
</style>