<template>
    <div v-if="header_cta" class="header_cta_pt">
        <a v-if="header_cta.cta_styles.arrow" id="header_cta" v-bind:href="header_cta.cta_link"
            :style="'color: ' + header_cta.cta_styles.color + '; background-color: ' + header_cta.cta_styles.bg_color + ';'"
            :target="header_cta.cta_target ? '_blank' : '_self'" class="button button--more hover">
            {{ header_cta.cta_text }}
        </a>
        <a v-else id="header_cta" v-bind:href="header_cta.cta_link"
            :style="'color: ' + header_cta.cta_styles.color + '; background-color: ' + header_cta.cta_styles.bg_color + ';'"
            :target="header_cta.cta_target ? '_blank' : '_self'" class="button hover">
            {{ header_cta.cta_text }}
        </a>
    </div>
</template>

<script setup>
defineProps({
    header_cta: {
        type: Object,
        required: true
    }
})
</script>