<template>

    <header class="header">
        <div class="container">
            <div class="header__content">

                <div class="burger" @click="toggleBurger()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <div class="header__logo">
                    <router-link to="/">
                        <img class="hidden-xs-down desktop-white" src="../assets/images/SPM_Logo_white_long.svg" />
                        <img class="hidden-xs-down desktop-blue" src="../assets/images/SPM_Logo_blue_long.svg" />
                        <img class="hidden-sm-up mobile-white" src="../assets/images/logo-white-short.svg" />
                        <img class="hidden-sm-up mobile-blue" src="../assets/images/logo-blue-short.svg" />
                    </router-link>
                </div>

                <ul>
                    <li>
                        <router-link class="header__link" to="/vermarktung/advertiser" >Vermarktung</router-link>
                    </li>
                    <li>
                        <router-link class="header__link" to="/software" >Software</router-link>
                    </li>
                    <li>
                        <router-link class="header__link" to="/ressourcen">Ressourcen</router-link>
                    </li>
                    <li>
                        <router-link class="header__link" to="/blog" >Blog</router-link>
                    </li>
                    <!--<li>
                        <router-link class="header__link" to="/media">Media</router-link>
                    </li>-->
                    <li>
                        <router-link class="header__link" to="/news" >News</router-link>
                    </li>
                    <li>
                        <router-link class="header__link" to="/kontakt" >Kontakt</router-link>
                    </li>
                    <li>
                        <router-link class="header__link" to="/jobs" >Jobs</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <!-- Burger Menu -->
    <div class="menu">
        <ul>
            <li @click="toggleBurger()"><router-link to="/vermarktung/advertiser">Vermarktung</router-link></li>
            <li @click="toggleBurger()"><router-link to="/software">Software</router-link></li>
            <li @click="toggleBurger()"><router-link to="/ressourcen">Ressourcen</router-link></li>
            <li @click="toggleBurger()"><router-link to="/blog">Blog</router-link></li>
            <li @click="toggleBurger()"><router-link to="/news">News</router-link></li>
            <li @click="toggleBurger()"><router-link to="/kontakt">Kontakt</router-link></li>
        </ul>
    </div>
</template>

<script>
let body = document.getElementsByTagName('body')[0];

import { defineComponent } from 'vue'
export default defineComponent({
    name: 'Header',

    data () {
        return {
            burgerMenu: false
        }
    },
    methods: {
        toggleBurger: function() {
            if (this.burgerMenu == false) {
                body.classList.add('nav-open');
                body.classList.remove('nav-close');
                this.burgerMenu = true;
            }
            else {
                body.classList.add('nav-close');
                body.classList.remove('nav-open');
                this.burgerMenu = false;
            }
        },
        closeBurger: function() {
            if (this.burgerMenu == true) {
                body.classList.add('nav-close');
                body.classList.remove('nav-open');
            }
        }
    }
})
</script>

<style lang="scss" scoped>
    .header {
        position: relative;
        z-index: 10000;
        padding: 8px 40px 8px 0;

        @media (min-width: $breakpoint-sm) {
            padding: 54px 0;
        }

        .nav-open & {
            z-index: 100001;
        }

        &__content {
            display: flex;
            align-items: center;
        }

        &__logo {
            margin-right: auto;

            a {
                display: flex;
            }

            img {
                height: 20px;
            }

            @media (max-width: 767px) {
                .mobile-blue {
                    display: none;

                    .news-detail &, .nav-open & {
                        display: flex;
                    }
                }

                .mobile-white {
                    display: flex;

                    .news-detail &, .nav-open & {
                        display: none;
                    }
                }
            }

            @media (min-width: $breakpoint-sm) {
                .desktop-blue {
                    display: none;

                    .news-detail & {
                        display: flex;
                    }
                }

                .desktop-white {
                    display: flex;

                    .news-detail & {
                        display: none;
                    }
                }
            }
        }

        ul {
            display: none;

            @media (min-width: $breakpoint-sm) {
                display: flex;
                padding: 0;
                margin: 0;
                list-style-type: none;
                color: $colorWhite;

                li {
                    margin-left: 32px;

                    .header__link {
                        position: relative;
                        font-size: 17px;
                        line-height: 17px;
                        font-family: $fontPrimary;
                        font-weight: 500;
                        text-decoration: none;
                        color: $colorWhite;

                        &:before {
                            opacity: 0;
                            position: absolute;
                            content: '';
                            width: calc(100% + 24px);
                            height: calc(100% + 12px);
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -25%);
                            z-index: -1;
                            transition: all .2s ease-in-out;
                            background: rgba($colorWhite, .24);
                        }

                        &:hover {
                            &:before {
                                opacity: 1;
                                transform: translate(-50%, -50%);
                            }
                        }

                        .news-detail & {
                            color: $colorBlack;
                        }

                        &--active {
                            color: $colorWhite;
                            font-weight: 600;

                            &:before {
                                background: $colorPrimary;
                                opacity: 1;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
            }
        }
    }

    .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        width: 40px;
        height: 40px;
        margin-left: 0;
        transform: translateX(-11px);

        span {
            display: flex;
            width: 18px;
            height: 2px;
            background: $colorWhite;
            border-radius: 1px;
            transition: all .2s ease-in-out;

            .news-detail & {
                background: $colorPrimary;
            }

            &:first-child {
                opacity: 1;
                margin-bottom: 4px;
            }

            &:last-child {
                opacity: 1;
                margin-top: 4px;
            }

            &:nth-child(3) {
                margin-top: -2px;
            }

            .nav-open & {
                background: $colorBlack;

                &:nth-child(2) {
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }

                &:first-child {
                    opacity: 0;
                    transform: translateY(-8px);
                }

                &:last-child {
                    opacity: 0;
                    transform: translateY(8px);
                }
            }
        }

        @media (min-width: $breakpoint-sm) {
            display: none;
        }
    }

    @keyframes openMenu {
        from {transform: translateX(-100vw);}
        to {transform: translateX(0);}
    }

    @keyframes closeMenu {
        from {transform: translateX(0);}
        to {transform: translateX(-100vw);}
    }

    .menu {
        display: flex;
        position: fixed;
        z-index: 999;
        top: 0;
        background: $colorWhite;
        width: 100vw;
        height: 100vh;
        transform: translateX(-100vw);
        padding-top: 80px;

        .nav-open & {
            animation: openMenu .4s ease-in-out forwards;
        }

        .nav-close & {
            animation: closeMenu .4s ease-in-out forwards;
        }

        ul {
            flex: 1;
            padding: 0 24px;
            margin: 0;
            list-style-type: none;

            li {
                position: relative;
                font-size: 17px;
                font-weight: 600;
                padding: 16px 0 15px;
                width: 100%;
                opacity: 0;
                transform: translateX(-16px);
                min-height: 52px;
                transition: all .2s ease-in-out;

                &:not(:last-child) {
                    box-shadow: inset 0 -1px 0 0 rgba($colorPrimary, .08);
                }

                &:before {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 18px;
                    width: 16px;
                    height: 16px;
                    background: url('../assets/images/ic_16_arrow_right_blue.svg');
                }

                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    color: $colorBlack;
                    text-decoration: none;

                    &.router-link-exact-active {
                        color: $colorPrimary;
                    }
                }

                &:nth-child(2) {
                    transition-delay: .2s;
                }
                &:nth-child(3) {
                    transition-delay: .25s;
                }
                &:nth-child(4) {
                    transition-delay: .3s;
                }
                &:nth-child(5) {
                    transition-delay: .35s;
                }
                &:nth-child(6) {
                    transition-delay: .4s;
                }
                &:nth-child(7) {
                    transition-delay: .45s;
                }

                .nav-open & {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
</style>
