<template>
    <div id="hubspotForm" v-once></div>
</template>

<script>
import { defineComponent } from "@vue/runtime-core";

export default defineComponent({
    props: {
        portalId: Number,
        formId: String
    },
    mounted() {
        const script = document.createElement("script")
        script.src = "https://js.hsforms.net/forms/v2.js";
        document.body.appendChild(script);
        script.addEventListener("load", () => {
            if (window.hbspt) {
                window.hbspt.forms.create({
                    portalId: this.portalId,
                    formId: this.formId,
                    target: "#hubspotForm"
                });
            }
        });
        this.setEventListener();
    },
    methods: {
        setEventListener() {
            setTimeout(() => {
                console.log("setEventListener");
                var iframe = document.getElementById('hs-form-iframe-0');

                if (iframe) {
                    var iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
                    var inputField = iframeDocument.querySelector('input[value="Kontakt aufnehmen"]');

                    if (inputField) {
                        inputField.addEventListener('click', () => {
                            this.sendConversionEvent();
                        });
                    } else {
                        console.log('Input-Feld nicht gefunden');
                    }
                } else {
                    console.log('iframe nicht gefunden');
                }
            }, 3000);
        },
        sendConversionEvent() {
            if (window.gtag) {
                window.gtag("event", "conversion", {
                    send_to: "AW-10929932219/wFHWCO-M8KMYELuP5tso"
                });
                console.log("Google Ads Conversion Event fired");
            } else {
                console.log("Google Ads Conversion Event not fired");
            }
        }
    }
})
</script>

<style lang="scss" scoped>
#hubspotForm {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
}

</style>