<template>
    <div class="subnav subnav--fullwidth">
        <div class="container">
            <ul>
                <li id="marketing"><router-link to="/vermarktung/advertiser">Für Advertiser</router-link></li>
                <!--<li id="digital"><router-link to="/marketing/digital">Digital</router-link></li>
                <li id="native-integration"><router-link to="/marketing/native-integration">Native Integration</router-link></li>
                <li id="print"><router-link to="/marketing/print">Print</router-link></li>
                <li id="social-media"><router-link to="/marketing/social-media">Social Media</router-link></li>
                <li id="portfolio"><router-link to="/marketing/portfolio">Portfolio</router-link></li>-->
                <li id="for-publisher"><router-link to="/vermarktung/publisher">Für Publisher</router-link></li>
            </ul>
        </div>
    </div>
</template>

<script>
import { defineComponent } from 'vue'
export default defineComponent({
    name: 'MarketingHeader',
    props: {
        active: String 
    },
    mounted() {
        this.setActive()
    },
    methods: {
        setActive() {
            if (this.active == "marketing") {
                document.getElementById('marketing').classList.add("is-active")
            } else if(this.active == "digital") {
                document.getElementById('digital').classList.add("is-active")
            } else if(this.active == "native-integration") {
                document.getElementById('native-integration').classList.add("is-active")
            } else if(this.active == "print") {
                document.getElementById('print').classList.add("is-active")
            } else if(this.active == "social-media") {
                document.getElementById('social-media').classList.add("is-active")
            } else if (this.active == "portfolio") {
                document.getElementById('portfolio').classList.add("is-active")
            } else if (this.active == "for-publisher") {
                document.getElementById('for-publisher').classList.add("is-active")
            }
        }
    },
})
</script>