<template>
    <div class="news__card">
        <img v-if="n.image" v-bind:src="'https://backend.sportplatz-media.com' + n.image.meta.download_url" width="200" />
        <img v-else src="@/assets/images/Störer-Advertiser_2x.webp" width="200" />
        <div class="news__card__content">
            <div class="news__card__badge">
                {{ n.headword }}
            </div>
            <div class="news__card__headline">
                {{ n.title }}
            </div>
            <div class="news__card__text">
                {{ removeHTML(n.body) }}
            </div>
            <router-link :to="'/news/' + n.id + '/' + n.meta.slug" class="news__card__link">
                Mehr erfahren
            </router-link>
        </div>
    </div>
</template>

<script>

import { defineComponent } from 'vue'

export default defineComponent({
    name: 'NewsCard',
    props: {
        n: Object
    },
    methods: {
        removeHTML(el) {
            var tmp = document.createElement("div");
            tmp.innerHTML = el;
            return tmp.textContent || tmp.innerText || "";
        }
    }
})
</script>

<style lang="scss">
    .news__card {
        background: $colorWhite;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.08);
        width: 100%;
        margin-bottom: 24px;

        img {
            width: 100%;
            height: 172px;
            object-fit: cover;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 20px 20px;
        }

        &__badge {
            display: flex;
            background: $colorBlack;
            border-radius: 3px;
            font-size: 12px;
            font-weight: 700;
            color: $colorWhite;
            text-transform: uppercase;
            padding: 5px 8px;
            margin-top: -16px;
        }

        &__headline {
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            color: $colorBlack;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            margin: 15px 0 9px;
        }

        &__text {
            font-size: 14px;
            line-height: 20px;
            font-family: $fontSecondary;
            letter-spacing: -0.37px;
            color: rgba($colorBlack, .64);
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            max-width: 330px;
        }

        &__link {
            position: relative;
            font-size: 14px;
            font-weight: 500;
            color: $colorPrimary;
            letter-spacing: 0.25px;
            text-decoration: none;
            margin-top: 17px;

            &:before {
                content: '';
                position: absolute;
                background: $colorPrimary;
                width: 100%;
                height: 1.5px;
                bottom: -2px;
                left: 0;
            }
        }
    }
</style>