<template>
    <div class="news">
        <div class="container">
            <div class="news__header" style="position: relative">
                <h4>News</h4>
                <router-link to="/news">Alle ansehen</router-link>
            </div>
            <div class="news__slider">
                <Splide :options="options">
                    <SplideSlide v-for="n in news" :key="n.id">
                        <div class="news__slider__card">
                            <img v-if="n.image" v-bind:src="'https://backend.sportplatz-media.com' + n.image.meta.download_url" width="200" />
                            <img v-else src="@/assets/images/Störer-Advertiser_2x.webp" width="200"/>
                            <div class="news__slider__card__content">
                                <div class="news__slider__card__badge">
                                    {{ n.headword }}
                                </div>
                                <div class="news__slider__card__headline" v-html="n.title"></div>
                                <div class="news__slider__card__text">
                                    {{ removeHTML(n.body) }}
                                </div>
                                <router-link :to="'/news/' + n.id + '/' + n.meta.slug" class="news__slider__card__link">
                                    Mehr erfahren
                                </router-link>
                            </div>
                        </div>
                    </SplideSlide>
                </Splide>
            </div>
        </div>
    </div>
</template>

<script>

import { defineComponent } from 'vue'
import { Splide, SplideSlide } from '@splidejs/vue-splide';
import '@splidejs/splide/dist/css/splide.min.css';

export default defineComponent({
    name: 'News',
    components: {
        Splide, SplideSlide,
    },
    props: {
        news: Object
    },
    data() {
        return {
            options: {
                perPage: 3,
                autoplay: true,
                pagination: false,
                gap: '40px',
                arrows: false,

                breakpoints: {
                    768: {
                        perPage: 1,
                        padding: '24px',
                        gap: '12px',
                    },
                }
            },
        };
    },
    methods: {
        removeHTML(el) {
            var tmp = document.createElement("div");
            tmp.innerHTML = el;
            return tmp.textContent || tmp.innerText || "";
        }
    }
})
</script>

<style lang="scss">
    .news {
        padding: 32px 0 72px;
        overflow: hidden;
        position: relative;

        @media (min-width: $breakpoint-sm) {
            padding: 48px 0 160px;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background-image: linear-gradient(180deg, $colorWhite 0%, $colorBgGrey 100%);
        }

        &__header {
            display: flex;
            align-items: center;
            margin: 42px 0 24px;

            @media (min-width: $breakpoint-sm) {
                margin: 74px 0 40px;
            }

            h4 {
                margin: 0
            }

            a {
                display: flex;
                align-items: center;
                margin-left: auto;
                font-size: 17px;
                font-weight: 500;
                font-family: $fontSecondary;
                color: $colorBlack;
                text-decoration: none;
                opacity: .48;
                transition: all .2s ease-in-out;

                &:after {
                    content: url('@/assets/images/ic_16_arrow_right_black.svg');
                    margin-left: 6px;
                    margin-top: 2px;
                }

                &:hover {
                    opacity: 1;
                }
            }

            @media (min-width: $breakpoint-sm) {
                padding: 0;
            }
        }

        &__slider {
            margin: 0 -24px;

            @media (min-width: $breakpoint-sm) {
                margin: 0;
            }

            &__card {
                background: $colorWhite;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.08);
                width: 100%;
                margin-bottom: 24px;

                img {
                    width: 100%;
                    height: 172px;
                    object-fit: cover;
                }

                &__content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0 20px 20px;
                }

                &__badge {
                    display: flex;
                    background: $colorBlack;
                    border-radius: 3px;
                    font-size: 12px;
                    font-weight: 700;
                    color: $colorWhite;
                    text-transform: uppercase;
                    padding: 5px 8px;
                    margin-top: -12px;
                }

                &__headline {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 24px;
                    color: $colorBlack;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    margin: 15px 0 9px;
                }

                &__text {
                    font-size: 14px;
                    line-height: 20px;
                    font-family: $fontSecondary;
                    letter-spacing: -0.37px;
                    color: rgba($colorBlack, .64);
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }

                &__link {
                    position: relative;
                    font-size: 14px;
                    font-weight: 500;
                    color: $colorPrimary;
                    letter-spacing: 0.25px;
                    text-decoration: none;
                    margin-top: 17px;

                    &:before {
                        content: '';
                        position: absolute;
                        background: $colorPrimary;
                        width: 100%;
                        height: 1.5px;
                        bottom: -2px;
                        left: 0;
                    }
                }
            }
        }

        .splide__track {
            @media (min-width: $breakpoint-sm) {
                overflow: visible !important;
            }
        }
    }
</style>