<template>
    <div class="container margin-top">
        <div class="grid">
            <div class="col-12">

                <div class="products">
                    <div class="products__text">
                        <div class="grid">
                            <div class="col-sm-5">
                                <div class="products__title">
                                    SPM liebt digitale<br> Sportprojekte.
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <p>Wir fokussieren uns zu 100% auf digitale Sportprojekte und setzen dabei den User in den Fokus der Entwicklung. Neben unseren B2B Angeboten gehören zu unserem Portfolio auch marktführende Apps für Endnutzer:innen.</p>
                            </div>
                        </div>
                    </div>
                    <div class="products__content">

                        <!-- SpielerPlus -->
                        <div class="products__item">
                            <div class="products__item__logo">
                                <img src="@/assets/images/logos/logo-spielerplus.svg" alt="Logo SpielerPlus">
                            </div>
                            <div class="products__item__title">
                                SpielerPlus
                            </div>
                            <p>SpielerPlus ist Marktführer in der digitalen Organisation & Koordination von Sportteams.</p>
                            <a href="https://www.spielerplus.de" target="_blank">Projekt ansehen</a>
                        </div>

                        <!-- SportlerPlus -->
                        <div class="products__item">
                            <div class="products__item__logo">
                                <img src="@/assets/images/logos/logo-sportlerplus.svg" alt="Logo SportlerPlus">
                            </div>
                            <div class="products__item__title">
                                SportlerPlus
                            </div>
                            <p>SportlerPlus ist der Personal-Trainer für zuhause bietet individuelle Workouts in Bezug auf den Einzel- und Teamsport.</p>
                            <a href="https://sportlerplus.com/landingpage" target="_blank">Projekt ansehen</a>
                        </div>

                        <!-- TeamTip -->
                        <div class="products__item">
                            <div class="products__item__logo">
                                <img src="@/assets/images/logos/logo-teamtip.svg" alt="Logo TeamTip">
                            </div>
                            <div class="products__item__title">
                                TEAMTIP
                            </div>
                            <p>TEAMTIP ist die Tippspiel App für alle europäischen Topligen & internationalen Turniere.</p>
                            <a href="https://teamtip.net/" target="_blank">Projekt ansehen</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import { defineComponent } from 'vue'
export default defineComponent({
    name: 'ProductBar'
})
</script>


<style lang="scss">
    .products {
        margin: 0 0 52px;

        @media (min-width: $breakpoint-sm) {
            margin: 60px 0 132px;
        }

        &__text {
            display: flex;
            align-items: center;

            p {
                font-size: 17px;
                line-height: 28px;
                letter-spacing: -0.37px;
                color: $colorBlack;
                margin: 0;

                @media (min-width: $breakpoint-sm) {
                    font-size: 20px;
                    line-height: 36px;
                    letter-spacing: -0.52px;
                }
            }
        }

        &__title {
            font-size: 40px;
            line-height: 40px;
            font-weight: 700;
            color: $colorBlack;

            @media (min-width: $breakpoint-sm) {
                font-size: 56px;
                line-height: 58px;
            }
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            margin-top: 28px;

            @media (min-width: $breakpoint-sm) {
                justify-content: space-between;
                margin-top: 84px;
            }
        }

        &__item {
            background: $colorWhite;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.08);
            padding: 32px 24px 36px;
            margin: 12px 0;

            @media (min-width: $breakpoint-md) {
                padding: 40px 32px 36px;
                width: calc((100% - 48px) / 3);
            }

            img {
                width: 64px;
                height: 64px;
                border-radius: 8px;
                box-shadow: 0 8px 24px 0 rgba(49,49,55,0.08);
            }

            &__title {
                font-size: 24px;
                font-weight: 700;
                color: $colorBlack;
                margin-top: 16px;

                @media (min-width: $breakpoint-sm) {
                    font-size: 28px;
                    margin-top: 30px;
                }
            }

            p {
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.2px;
                margin-top: 9px;

                @media (min-width: $breakpoint-sm) {
                    font-size: 17px;
                    line-height: 28px;
                    letter-spacing: -0.32px;
                    margin-top: 8px;
                }
            }

            a {
                position: relative;
                font-size: 14px;
                color: $colorPrimary;
                font-weight: 500;
                text-decoration: none;

                @media (min-width: $breakpoint-sm) {
                    font-size: 17px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    width: 100%;
                    height: 1.5px;
                    background: $colorPrimary;
                }
            }
        }
    }
</style>

<style scoped>
@media only screen and (max-width: 767px) { 
    .margin-top {
        margin-top: 80px;
    }
 }
</style>