<template>

    <div class="touchPoint">

        <div class="container">
            <div class="touchPoint__content">
                <div class="touchPoint__image">
                    <img v-if="this.software_case.image" :src="'https://backend.sportplatz-media.com' + this.software_case.image.meta.download_url" :alt="this.software_case.image.title">
                </div>
                <div id="modals" class="touchPoint__text">
                    <span>{{ this.software_case.headword }}</span>
                    <h3>{{ body_text }}</h3>
                    <button class="button hover" @click="showModal">
                        <img class="button__icon button__icon--left" src="@/assets/images/ic_24_download.svg">
                        Download
                    </button>
                    <MyModel>
                        <Modal v-model="isShow" :close="closeModal">
                            <HubspotForm :portalId="6645377" :formId="'a44093fc-da25-4333-9278-c1353ea47b73'"></HubspotForm>
                            <button id="close-btn" @click="closeModal"> x </button>
                        </Modal>
                    </MyModel>
                </div>
            </div>
        </div>

        <img v-if="background_image" class="touchPoint__background" :src="background_image" alt="">
    </div>

</template>

<script>
import axios from 'axios';
import { defineComponent, ref } from 'vue'
import HubspotForm from './HubspotForm.vue'
export default defineComponent({
    props: {
        software_case: {
            type: Object
        }
    },
    setup() {
        const isShow = ref(null)

        function showModal() {
            isShow.value = true
        }

        function closeModal() {
            isShow.value = false
            // need to remove elements <script> & div when closed
            var scripts = document.getElementsByTagName('script');
            var divs = document.getElementsByTagName('div');
            var index = scripts.length -1;
            var div_index = divs.length -3;
            scripts.item(index).remove();
            divs.item(div_index).remove();
        }

        return {
            isShow,
            showModal,
            closeModal
        }
    },
    name: 'SoftwareCase',
    components: { HubspotForm },
    computed: {
        body_text() {
            var tmp = document.createElement("div");
            tmp.innerHTML = this.software_case.body;
            return tmp.textContent || tmp.innerText || "";
        },
        background_image_id() {
            var tmp = document.createElement("div");
            tmp.innerHTML = this.software_case.body;
            if (tmp.querySelector('embed')) {
                var id = tmp.querySelector('embed').id;
                return id;
            } else {
                return -1;
            }
        }
    },
    data () {
        return {
            background_image: ''
        }
    },
    watch: {
        background_image_id: function (val) {
            if (val != -1) {
                axios.get('https://backend.sportplatz-media.com/api/v2/images/' + val + '/?format=json')
                .then(response => {
                    this.background_image = 'https://backend.sportplatz-media.com' + response.data.meta.download_url;
                })
                .catch(error => {
                    console.log(error);
                })
            }
        }
    }
})
</script>