<template>

    <div class="touchPoint">

        <div v-if="this.touchpoint" class="container">
            <div class="touchPoint__content">
                <div class="touchPoint__image">
                    <img v-if="this.touchpoint.image" :src="'https://backend.sportplatz-media.com' + this.touchpoint.image.meta.download_url" :alt="this.touchpoint.image.title">
                </div>
                <div id="modals" class="touchPoint__text">
                    <span>{{ this.touchpoint.headword }}</span>
                    <h3>{{ body_text }}</h3>
                    <a type="button" target="_blank" class="button hover" 
                        :href="link">
                        <img class="button__icon button__icon--left" src="@/assets/images/ic_24_download.svg">
                        Download
                    </a>
                </div>
            </div>
        </div>

        <img v-if="background_image" class="touchPoint__background" :src="background_image" alt="">
    </div>

</template>

<script>
import axios from 'axios';
import { defineComponent } from 'vue'
export default defineComponent({
    name: 'TouchPoint',
    props: {
        touchpoint: {
            type: Object
        }
    },
    data () {
        return {
            background_image: ''
        }
    },
    computed: {
        body_text() {
            var tmp = document.createElement("div");
            tmp.innerHTML = this.touchpoint.body;
            return tmp.textContent || tmp.innerText || "";
        },
        link() {
            var tmp = document.createElement("div");
            tmp.innerHTML = this.touchpoint.body;
            if (tmp.querySelector('a')) {
                return tmp.querySelector('a').href;
            } else {
                return 'https://content.sportplatz-media.com/7-touchpoints-im-sport';
            }
        },
        background_image_id() {
            var tmp = document.createElement("div");
            tmp.innerHTML = this.touchpoint.body;
            if (tmp.querySelector('embed')) {
                var id = tmp.querySelector('embed').id;
                return id;
            } else {
                return -1;
            }
        }
    },
    watch: {
        background_image_id: function (val) {
            if (val != -1) {
                axios.get('https://backend.sportplatz-media.com/api/v2/images/' + val + '/?format=json')
                    .then(response => {
                        this.background_image = 'https://backend.sportplatz-media.com' + response.data.meta.download_url;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        }
    },
})
</script>

<style lang="scss">
    .hover:hover {
        background: #00ECFF;
        box-shadow: 0 0 0 2px #00ECFF;
    }
    
    .touchPoint {
        position: relative;
        background: $colorPrimary;
        padding: 40px 0;

        &__content {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media (min-width: $breakpoint-sm) {
                flex-direction: row;
            }
        }

        &__image {

            @media (min-width: $breakpoint-sm) {
                max-width: 360px;
            }

            img {
                width: 100%;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 23px;

            @media (min-width: $breakpoint-sm) {
                margin-top: 0;
                margin-left: 96px;
                max-width: 360px;
            }

            span {
                font-size: 17px;
                font-weight: 600;
                color: $colorHighlight;
            }

            h3 {
                color: $colorWhite;
                margin: 10px 0 24px;

                @media (min-width: $breakpoint-sm) {
                    margin: 20px 0 30px;
                    line-height: 48px;
                }
            }
        }

        &__background {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
            mix-blend-mode: lighten;
            opacity: .2;
        }
    }

    #close-btn {
        position: fixed;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        color: #666666;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        font-size: 28px;
    }

</style>