<script>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import { defineComponent, computed, reactive } from 'vue'
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'

export default defineComponent({
  name: 'App',
  components: { Header, Footer },
  computed: {
    mainExtraClasses() {
      let class_names = [];
      if (this.$route.meta.mainExtraClasses) { class_names.push(this.$route.meta.mainExtraClasses); } 
      return class_names.join(" ");
    }
  }

})
</script>

<template>
    <v-app>
      <v-main v-bind:class="mainExtraClasses">
        <Header></Header>
        <router-view></router-view>
        <Footer></Footer>
      </v-main>
    </v-app>
</template>

<style lang="scss">
  @import "./assets/scss/global.scss";
  @import "./assets/scss/_reflex.scss";
</style>
